.nut-theme-dark {
  .nut-inputnumber {
    &__icon {
      color: $dark-color;
      &--disabled {
        color: $dark-color-gray;
      }
    }
    input,
    &__text--readonly {
      background-color: $dark-background;
      color: $dark-color;
      border: 1px solid $dark-color-gray;
    }
    &--disabled {
      input {
        color: $dark-color-gray;
      }
    }
  }
}
.nut-inputnumber {
  display: flex;
  align-items: center;

  &--disabled {
    input {
      color: $inputnumber-icon-void-color;
    }
  }

  &__icon {
    color: $inputnumber-icon-color;
    font-size: $inputnumber-icon-size;
    cursor: pointer;
    &--disabled {
      color: $inputnumber-icon-void-color;
      cursor: not-allowed;
    }
  }

  input,
  &__text--readonly {
    width: $inputnumber-input-width;
    height: 100%;
    text-align: center;
    outline: none;
    border: $inputnumber-input-border;
    font-size: $inputnumber-input-font-size;
    color: $inputnumber-input-font-color;
    margin: $inputnumber-input-margin;
    background-color: $inputnumber-input-background-color;
    border-radius: $inputnumber-input-border-radius;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }
}
