.nut-theme-dark {
  .nut-collapse-item {
    .collapse-item {
      background: $dark-background;
      color: $dark-color;
      box-shadow: none;
    }
    .collapse-wrapper {
      .collapse-content,
      .collapse-extraRender {
        background: $dark-background;
        color: $dark-color;
      }
    }
    .collapse-extraWrapper {
      .collapse-extraRender {
        background: $dark-background;
      }
    }
  }
}
.nut-collapse-item {
  position: relative;
  .collapse-item {
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 16px;
      bottom: 0;
      left: 16px;
      border-bottom: 1px solid #ebedf0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    .collapse-title-value {
      display: inline-block;
      .collapse-title-icon {
        top: 2px;
      }
    }
  }
  .collapse-item {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: $collapse-item-padding;
    color: $collapse-item-color;
    font-size: $collapse-item-font-size;
    line-height: $collapse-item-line-height;
    background-color: #fff;
    box-sizing: border-box;
    .collapse-icon {
      display: block;
      position: absolute;
      top: 50%;
      // margin-top: -6px;
      right: 16px;
      color: $collapse-item-icon-color;
      // width: 24px;
      // height: 12px;
      // line-height: 24px;
      // background-image: url(https://img13.360buyimg.com/imagetools/jfs/t1/153504/23/6125/464/5fb240abE562ed1c5/382909c698fa3c1f.png);
      // background-repeat: no-repeat;
      // background-size: 100% 100%;
      transition: transform 0.3s;
    }
    .col-expanded {
      transform: rotate(-180deg);
    }
    .subTitle {
      position: absolute;
      top: 50%;
      right: 60px;
      margin-top: -12px;
      color: $collapse-item-sub-title-color;
    }
    .titleIconRight {
      vertical-align: middle;
      margin: 0px 0 0 10px;
    }
    .titleIconLeft {
      vertical-align: middle;
      margin: 0px 10px 0 0;
    }
  }
  // .extraRender {
  //   display: block;
  // }
  .collapse-wrapper,
  .collapse-extraWrapper {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    .collapse-content,
    .collapse-extraRender {
      display: block;
      padding: $collapse-wrapper-content-padding;
      color: $collapse-wrapper-content-color;
      font-size: $collapse-wrapper-content-font-size;
      line-height: $collapse-wrapper-content-line-height;
      background-color: $collapse-wrapper-content-background-color;
    }
    .empty {
      padding: $collapse-wrapper-empty-content-padding;
    }
  }
  .collapse-extraWrapper {
    height: auto;
    .collapse-extraRender {
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
    }
  }
  .open-style {
    will-change: height;
    height: auto;
  }
  .close-style {
    will-change: auto;
    // height: 0;
  }
  .nut-collapse-item-disabled {
    color: $collapse-item-disabled-color;
    cursor: not-allowed;
    pointer-events: none;
    // .collapse-icon-disabled {
    //   background-image: url(https://img12.360buyimg.com/imagetools/jfs/t1/150103/9/14710/474/5fb2419aE63e79ef3/8db2699c11139027.png);
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;
    // }
    .collapse-icon {
      color: $collapse-item-disabled-color;
    }
  }
  .titleIconLeft {
    float: left;
    .collapse-item {
      padding: 10px 16px 10px 50px;
      .collapse-icon {
        left: 20px;
      }
      .subTitle {
        right: 16px;
      }
    }
  }
  .titleIconRight {
    float: right;
  }
  .collapse-icon-title {
    display: inline-block;
  }
  // .nut-collapse-item.nut-collapse-item-icon {
  //     .collapse-icon {
  //         transform: rotate(0deg);
  //     }
  // }
}
