.nut-luckdraw{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    // transform: translateZ(0);
    .drawTable-name {
        position: absolute;
        left: 10px;
        top: 20px;
        width: calc(100% - 20px);
        font-size: 12px;
        text-align: center;
        color: #ff5722;
      }
      .drawTable-img {
        position: absolute;
        /*要居中就要50% - 宽度 / 2*/
        left: calc(50% - 30px / 2);
        top: 60px;
        width: 30px;
        height: 30px;
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
    .lucktable {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .prize {
        position: absolute;
        left: 25%;
        top: 0;
        width: 50%;
        height: 50%;
        .item {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: center bottom;
        }
    }
}
.pointer {
    position: absolute;
    // left: calc(50% - 35px);
    // top: calc(50% - 40px);
    left: 50%;
    top: 50%;
    transform: translate(-43.75%, -50%);
}