.nut-theme-dark {
  .nut-empty {
    background: $dark-background;
  }
}

.nut-empty {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: $empty-padding;

  &-image {
    width: $empty-image-size;
    height: $empty-image-size;

    .img {
      width: 100%;
      height: 100%;
    }

    // 兼容小程序标签和img-slot
    img,
    image {
      width: 100%;
      height: 100%;
    }
  }

  &-description {
    margin-top: $empty-description-margin-top;
    padding: $empty-description-padding;
    color: $empty-description-color;
    font-size: $empty-description-font-size;
    line-height: $empty-description-line-height;
  }
}
