.nut-signature {
  .nut-signature-inner {
    height: 10rem;
    margin-bottom: 1rem;
    border: 1px solid $border-color-base;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nut-signature-unsopport {
    font-size: $font-size-base;
  }
}
