.nut-textbox {
	background: #fff;

	.txt-area {
		border: 1px solid #ececee;
		padding: 5px 20px 5px 10px;
		position: relative;

		&.num-none {
			padding: 10px 20px;
		}

		textarea {
			resize: none;
			width: 100%;
			border: none;
			outline: none;
			margin: 0;
			padding: 0;
			background: transparent;
			display: block;
		}

		span {
			color: #666;
			position: absolute;
			right: 10px;
			bottom: 5px;
			font-size: 12px;
		}

		&.error {
			border: 1px solid #e2231a;

			span {
				color: #e2231a;
			}
		}
	}
}
