.nut-theme-dark {
  .nut-tabbar {
    background: $dark-background;
  }
}
.nut-tabbar {
  border: 0px;
  box-shadow: $tabbar-box-shadow;
  border-bottom: $tabbar-border-bottom;
  border-top: $tabbar-border-top;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  background: $white;
  height: $tabbar-height;

  &:last-child {
    border-right: 0;
  }

  &-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 888;
  }

  &-safebottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
