.nut-tabbar {
  border: 0px;
  border-bottom: 1px solid $tabbar-border-color;
  border-top: 1px solid $tabbar-border-color;
  width: 100%;
  display: flex;
  padding: 7px 0;
  box-sizing: border-box;
  background: $white;

  &:last-child {
    border-right: 0;
  }

  &-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 888;
  }

  &-safebottom {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }
}
