.nut-ellipsis {
  display: flex;
  .nut-ellipsis-text {
    cursor: hand;
    color: $ellipsis-expand-collapse-color;
    display: inline;
  }

  .nut-ellipsis-wordbreak {
    word-break: break-all;
  }
}

.nut-ellipsis-copy {
  position: absolute;
  top: -999999px;
}
