.nut-row {
	&::after {
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		content: '';
	}
}

.nut-row-flex {
	display: flex;

	&::after {
		display: none;
	}

	.nut-col {
		float: none;
	}
}

.nut-row-justify-center {
	justify-content: center;
}

.nut-row-justify-end {
	justify-content: flex-end;
}

.nut-row-justify-space-between {
	justify-content: space-between;
	align-items: center;
}

.nut-row-justify-space-around {
	justify-content: space-around;
}

.nut-row-align-flex-start {
	align-items: flex-start;
}

.nut-row-align-center {
	align-items: center;
}

.nut-row-align-flex-end {
	align-items: flex-end;
}

.nut-row-flex-wrap {
	flex-wrap: wrap;
}

.nut-row-flex-nowrap {
	flex-wrap: nowrap;
}

.nut-row-flex-reverse {
	flex-wrap: wrap-reverse;
}
