.nut-theme-dark {
  .nut-picker {
    &__title {
      color: $dark-color;
    }

    &-roller {
      &-item {
        color: $dark-color;
      }

      &-item-tile {
        color: $dark-color;
      }
    }

    &-roller-mask {
      background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.4)),
        linear-gradient(0deg, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.4));
      background-repeat: no-repeat;
      background-position: top, bottom;
      background-size: 100% 108px;
      z-index: 1;
    }

    &-content {
      color: $dark-color;
    }
    &-item {
      color: $dark-color;
    }
  }
}
.nut-picker {
  // 标题
  &__bar {
    position: relative;
    height: 56px;
    display: block;
    text-align: center;
    line-height: 56px;
  }

  &__left {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    padding: $picker-bar-button-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 100%;
    color: $picker-cancel-color;
    font-size: $picker-bar-cancel-font-size;
  }
  &__right {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: $picker-bar-button-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 100%;
    color: $picker-ok-color;
    font-size: $picker-bar-ok-font-size;
  }

  &__column {
    display: flex;
    position: relative;
    height: 252px;

    &::before {
      content: '';
      position: absolute;
      top: 108px;
      height: 34px;
      width: 100%;
      border: $picker-item-active-line-border;
      border-left: 0;
      border-right: 0;
    }
  }
  &__columnitem {
    width: 0;
    flex-grow: 1;
    height: 100%;
  }

  &__title {
    @include oneline-ellipsis();
    text-align: center;
    color: $picker-bar-title-color;
    font-size: $picker-bar-title-font-size;
    font-weight: $picker-bar-title-font-weight;
  }

  &__wrapper {
    display: block;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }

  &__list {
    position: relative;
    display: block;
    width: 100%;
    height: 252px;
    overflow: hidden;
    text-align: center;
    -webkit-overflow-scrolling: touch;
  }

  &-roller {
    display: block;
    position: absolute;
    top: 108px;
    width: 100%;
    height: $picker-item-height;
    z-index: 1;
    transform-style: preserve-3d;

    &-item {
      display: block;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      height: $picker-item-height;
      line-height: $picker-item-height;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &-hidden {
        visibility: hidden;
        opacity: 0;
      }
    }

    &-item-tile {
      display: block;
      width: 100%;
      height: $picker-item-height;
      line-height: $picker-item-height;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-item-tarotile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $picker-item-text-color;
      font-size: $picker-item-text-font-size;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-roller-mask {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)),
      linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 108px;
    z-index: 1;
  }

  &-content {
    display: block;
    position: absolute;
    top: 108px;
    width: 100%;
    height: $picker-item-height;
    color: $picker-item-active-text-color;
    z-index: 2;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
  }
  &-list-panel {
    display: block;
    transform-style: preserve-3d;
  }
  &-item {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $picker-item-height;
    line-height: $picker-item-height;
    text-align: center;
    font-size: 16px;
    color: $picker-columns-item-color;
  }
}
