@-webkit-keyframes nutSlideLeftIn{
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes nutSlideLeftOut{
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}        

// 适合左侧菜单
@include make-animation(nutSlideLeft);



