.nut-navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  padding: 13px 16px;
  background: $white;
  box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);
  font-size: $cell-title-font;
  color: $cell-color;
  margin: 10px 0;
  &:active::before {
    opacity: 0.1;
  }
  &--clickable {
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $black;
      border: inherit;
      border-color: $black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
  }

  .nutui-iconfont {
    .nut-icon-left {
      text-align: left;
    }
  }

  &__title {
    max-width: 60%;
    margin: 0 auto;
    &.icon {
      .icon {
        margin-right: 10px;
        margin-left: 8px;
      }
    }
    &-desc {
      font-size: $cell-title-desc-font;
    }
  }
  &__left {
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;

    left: 0;
  }
  &__right {
    font-size: $cell-desc-font;
    color: $cell-desc-color;

    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    right: 0;
    padding: 0 16px;
    cursor: pointer;
  }
}
