.nut-picker {
	background-color: #fff;
	width: 100%;
}

.nut-picker-control {
	display: flex;
	height: 48px;
	border-bottom: 1px solid $split-line-color;
	text-align: center;
	line-height: 48px;
	font-size: $font-size-body-normal;

	.nut-picker-cancel-btn,
	.nut-picker-confirm-btn {
		width: 60px;
		color: $text-black-2;
	}
	.nut-picker-confirm-btn {
		color: $text-jd-red;
	}

	.nut-picker-title {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $text-black-1;
	}
}

.nut-picker-panel {
	height: 252px;
	display: flex;
}

.nut-picker-list {
	flex: 1;
	position: relative;
	height: 252px;
	overflow: hidden;
	text-align: center;

	.nut-picker-list-panel {
		transform-style: preserve-3d;
	}

	.nut-picker-mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(180deg,hsla(0,0%,100%,.85),hsla(0,0%,100%,.4)),linear-gradient(0deg,hsla(0,0%,100%,.85),hsla(0,0%,100%,.4));
		background-position: top, bottom;
		background-size: 100% 99px;
		background-repeat: no-repeat;
		z-index: 3;
	}

	.nut-picker-indicator {
		position: absolute;
		top: 99px;
		width: 100%;
		height: 50px;
		border-top: 1px solid $split-line-color;
		border-bottom: 1px solid $split-line-color;
		z-index: 3;
	}

	.nut-picker-content{
		position: absolute;
		top: 100px;
		width: 100%;
		background: #fff;
		z-index: 2;
	}

	.nut-picker-item{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 50px;
		line-height: 50px;
		color: $text-black-1;
		font-size: $font-size-body-large;
		text-align: center;
	}
}

.nut-picker-placeholder {
	height: 1px;
}
