.nut-cell-group {
  display: block;
  &__title {
    display: inherit;
    padding: $cell-group-title-padding;
    color: $cell-group-title-color;
    font-size: $cell-group-title-font-size;
    font-weight: $cell-group-title-font-weight;
    line-height: $cell-group-title-line-height;
    margin: $cell-group-title-margin;
  }
  &__desc {
    display: inherit;
    padding: $cell-group-desc-padding;
    color: $cell-group-desc-color;
    font-size: $cell-group-desc-font-size;
    line-height: $cell-group-desc-line-height;
    margin: $cell-group-desc-margin;
  }
  &__warp {
    display: inherit;
    border-radius: $cell-border-radius;
    overflow: hidden;
    background-color: $cell-group-background-color;
    margin: 10px 0;
    .nut-cell {
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }
  .nut-cell {
    &::after {
      border-bottom: $cell-after-border-bottom;
    }
  }
}
