{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": [
            "Android >= 4",
            "iOS >= 8"
          ]
        },
        "useBuiltIns": "usage"
      }
      
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "istanbul"
  ]
}
