.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.nyc_output/
coverage/
.vscode/
sites/doc/view
sites/doc/page
package-lock.json
yarn.lock
docshashCache.text
srchashCache.text
localsrc.cache
localdocs.cache
cache/src.cache
cache/mdToVue.cache
cache/docs.cache
lib/plugin/cli/dist_cli/
lib/plugin/cli/site/doc/view/
lib/plugin/cli/site/doc/page/
yarn.lock
/test_script
