{
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "none",
  "plugins": ["prettier-markdown-table"]
}
