{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "none"
}
