// Color
$primary-color: #4169E1;
$gradient-start-color: mix($primary-color, #FFF, 60%);
$gradient-end-color: mix($primary-color, #FFF, 80%);
$btn-gradient-bg: linear-gradient(315deg, $gradient-start-color 0%, $gradient-end-color 100%);