.nut-luckycard {
  position: relative;
  .nut-cover {
    position: absolute;
    top: 0;
    left: 0;
  }
  .lucky-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    line-height: 100%;
    user-select: none;
  }
}
