.nut-signature {
  .nut-signature-inner {
    height: 10rem;
    margin-bottom: 1rem;
    border: 1px solid #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spcanvas_WEAPP {
    width: 100%;
    height: 100%;
    #spcanvas {
      width: 100%;
    }
  }

  .nut-signature-btn {
    margin-right: 15px;
  }
}
