.nut-sidenavbar {
  height: 100%;
  overflow: auto;
  display: block;
  &__content {
    position: relative;
    background-color: $sidenavbar-content-bg-color;
    display: block;
    &__list {
      width: 100%;
      display: block;
    }
  }
}
