.nut-radio {
  .nut-radio-labels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 18px 16px;
    box-sizing: border-box;
    .nut-radio-list-label {
      margin: 5px 2.3px;
    }
  }
}
