.nut-subsidenavbar {
	display: grid;
	float: left;
	width: 100%;
	position: relative;

	.item-title {
		display: flex;
		width: 100%;
        position: relative;
        padding: 12px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		box-sizing: border-box;
		border: 0;
		color: $text-black-2;
		font-size: $font-size-body-normal;
		background-color: #fff;
		align-items: center;

		.subsidenavbar-icon {
			margin-right: 10px;
		}

		.sidenavbar-title {
			display: flex;
			width: 80%;
			flex-flow: column;
			color: $text-black-2;
			text-decoration: none;
            justify-content: center;
            .sidenavbar-title-title{
                height: 24px;
                line-height: 24px;
            }
		}
	}

	.sidenavbar-icon {
        position: absolute;
		top: 50%;
        right: 20px;
		transform: translateY(-50%);
		i {
			transition: transform $animation-duration $ease-in-out;

			&.up {
				transform: rotate(-180deg);
			}
		}
	}

	.sub-sidenavbar-list {
		width: 100%;
	}
}
