.nut-theme-dark {
  .nut-sku {
    background: $dark-background;

    &-select {
      &-item {
        &-title {
          color: $dark-color;
        }
        &-skus {
          &-sku {
            color: $dark-color;
            background: $dark-background2;
          }
        }
      }
    }

    &-stepper {
      &-title {
        color: $dark-color;
      }
      &-limit {
        color: $dark-color;
      }
      &-count {
        &-lowestBuy {
          color: $primary-color;
        }
      }
    }

    &-operate {
      &-btn {
        background: $dark-background2;
      }
    }
  }
}

.nut-sku {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: $white;
  &-header {
    height: 100px;
    display: flex;
    flex-shrink: 0;
    margin-top: 18px;
    padding: 0 18px;
    > img {
      width: $sku-product-img-width;
      height: $sku-product-img-height;
      flex-shrink: 0;
      margin-right: 12px;
      border-radius: $sku-product-img-border-radius;
    }
    &-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &-extra {
        font-size: 12px;
        color: $text-color;
      }
    }
  }
  &-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    margin-top: 24px;
    padding: 0 18px;
  }
  &-select {
    &-item {
      display: flex;
      flex-direction: column;
      &-title {
        height: 13px;
        font-weight: $sku-spec-title-font-weight;
        font-size: $sku-spec-title-font-size;
        color: $sku-spec-title-color;
        margin-bottom: $sku-spec-title-margin-bottom;
      }
      &-skus {
        display: flex;
        flex-wrap: wrap;
        &-sku {
          margin-right: $sku-spec-margin-right;
          height: $sku-spec-height;
          line-height: $sku-spec-line-height;
          padding: $sku-spec-padding;
          border-radius: 15px;
          font-size: $sku-spec-font-size;
          color: $sku-spec-color;
          flex-shrink: 0;
          margin-bottom: 12px;
          background: $sku-spec-background;
          border: 1px solid rgba(242, 242, 242, 1);

          &.active {
            background: $sku-item-active-bg;
            border: $sku-item-border;
            color: $primary-color;
          }
          &.disable {
            color: $text-color;
            text-decoration: $sku-item-disable-line;
          }
        }
      }
    }
  }
  &-stepper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;
    &-title {
      font-weight: bold;
      font-size: 13px;
      color: $black;
      margin-right: 12px;
    }
    &-limit {
      flex: 1;
      display: flex;
      align-items: center;

      font-size: 12px;
      color: $text-color;
    }
    &-count {
      display: flex;
      align-items: center;
      &-lowestBuy {
        font-size: 12px;
        color: $primary-color;
      }
    }
  }
  &-operate {
    width: 100%;
    &-desc {
      display: block;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background: #fbf9da;
      color: #de6a1c;
      font-size: 12px;
    }
    &-btn {
      height: $sku-operate-btn-height;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $white;
      text-align: center;
      padding: 0 18px;
      box-sizing: border-box;
      border-top: $sku-operate-btn-border-top;
      &-item {
        width: 100%;
        height: $sku-operate-btn-item-height;
        line-height: $sku-operate-btn-item-line-height;
        margin-right: 18px;
        background: $sku-opetate-bg-default;
        border-radius: 21px;
        font-size: $sku-operate-btn-item-font-size;
        font-weight: $sku-operate-btn-item-font-weight;
        color: $white;
        &:last-child {
          margin-right: 0;
        }
      }

      &-buy {
        background: $sku-opetate-bg-buy;
      }
    }
  }
}
