.nut-calendar {
  position: relative;
  display: flex;
  flex: 1;
  height: 518px;
  padding-top: 132px;
  padding-bottom: 78px;
  color: $calendar-base-color;
  font-size: $calendar-base-font;
  background-color: $white;
  overflow: hidden;

  &.nut-calendar-tile {
    height: 100%;
    padding-top: 46px;
    padding-bottom: 0;

    .nut-calendar-header {
      .calendar-title {
        font-size: $calendar-base-font;
      }
    }
  }

  &.nut-calendar-nofooter {
    padding-bottom: 0;
  }

  // 头部导航
  .nut-calendar-header {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1px;
    background-color: $white;
    z-index: 1;

    .calendar-title {
      padding-top: 22px;
      font-size: $calendar-title-font;
      line-height: 25px;
      border-radius: 12px 12px 0 0;
    }

    .calendar-curr-month {
      padding: 10px 0 7px;
      line-height: 22px;
    }

    .calendar-weeks {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 46px;
      box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.06);

      .calendar-week-item {
        &:first-of-type,
        &:last-of-type {
          color: $calendar-primary-color;
        }
      }
    }
  }

  // 月份
  .nut-calendar-content {
    flex: 1;

    .calendar-months-panel {
      position: relative;
      width: 100%;
      height: auto;
      display: block;

      .calendar-month {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      div:nth-of-type(2) {
        .calendar-month-title {
          padding-top: 0;
        }
      }

      .calendar-loading-tip {
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        font-size: $calendar-text-font;
        color: $text-color;
      }

      .calendar-month-title {
        height: 23px;
        line-height: 23px;
        margin: 8px 0;
      }

      .calendar-month-con {
        overflow: hidden;

        .calendar-month-item {
          .calendar-month-day:nth-child(7n + 0),
          .calendar-month-day:nth-child(7n + 1) {
            color: $calendar-primary-color;
          }
        }

        .calendar-month-day {
          float: left;
          width: 14.28%;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;

          .calendar-curr-tips,
          .calendar-day-tip {
            position: absolute;
            top: 10px;
            width: 100%;
            font-size: 11px;
            line-height: 12px;
            color: $calendar-primary-color;
          }

          &-active {
            background-color: $calendar-primary-color;
            color: $white !important;

            .calendar-curr-tips {
              visibility: hidden;
            }

            .calendar-day-tip {
              color: $white;
            }
          }

          &-disabled {
            color: $calendar-disable-color !important;
          }

          &-choose {
            background-color: $calendar-choose-color;
          }

          .calendar-day {
            padding: 4px 0;
            font-size: $calendar-day-font;
          }
        }
      }
    }
  }

  // 底部导航
  .nut-calendar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    display: flex;
    height: 78px;
    width: 100%;
    background-color: $white;

    .calendar-confirm-btn {
      height: 44px;
      width: 100%;
      margin: 14px 18px;
      border-radius: 22px;
      background: $button-primary-background-color;
      color: $white;
      text-align: center;
      line-height: 44px;
    }
  }
}
.nut-calendar-taro {
  height: 65vh;
}
