.nutui-tab {
  .tab-title-scroll {
    width: 100%;
    height: 46px;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    background: #f5f5f5;
  }
  .tab-title {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    background: #f5f5f5;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    .underline {
      position: absolute;
    }
    .tab-title-box {
      height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
    }
    .tab-title-box-scroll {
      min-width: 75px;
    }
    .nut-tab-active {
      color: #1a1a1a;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 12px;
        height: 4px;
        background-image: url('https://img12.360buyimg.com/imagetools/jfs/t1/127200/40/18747/536/5fb36b5aE61cac2d8/638032e8da9b93f4.png');
        background-size: 100% 100%;
      }
    }
  }
  .tab-title-scroll {
    overflow-x: scroll;
  }
  .half {
    .nut-tab-active {
      color: #1a1a1a;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      &::after {
        content: '';
        display: none;
      }
      .world {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: -8px;
          bottom: -5px;
          width: 11px;
          height: 10px;
          background-image: url('https://img12.360buyimg.com/imagetools/jfs/t1/197875/38/105/620/60ffcd30E34877e77/54c3dd9fe0a5ab76.png');
          background-size: 100% 100%;
        }
      }
    }
  }
  .tab-swiper {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 200px;
    background: #fff;
    box-sizing: border-box;
  }
}
.vertical-tab {
  display: flex;
  height: 175px;
  .tab-title-scroll {
    width: 100px;
    height: 175px;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    background: #f5f5f5;
  }
  .tab-title {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      display: none;
    }
    .tab-title-box {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
    }
    .tab-title-box-scroll {
      min-height: 50px;
    }
    .nut-tab-active {
      color: #1a1a1a;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      background-color: #fff;
      &::after {
        content: '';
        position: absolute;
        right: -4px;
        top: 50%;
        left: auto;
        transform: translateY(-50%) rotate(270deg);
        width: 12px;
        height: 4px;
        background-image: url('https://img12.360buyimg.com/imagetools/jfs/t1/127200/40/18747/536/5fb36b5aE61cac2d8/638032e8da9b93f4.png');
        background-size: 100% 100%;
      }
    }
  }
  .tab-title-scroll {
    overflow-y: scroll;
  }
  .half {
    .nut-tab-active {
      color: #1a1a1a;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      &::after {
        content: '';
        display: none;
      }
      .world {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: -15px;
          bottom: -5px;
          width: 11px;
          height: 10px;
          background-image: url('https://img12.360buyimg.com/imagetools/jfs/t1/197875/38/105/620/60ffcd30E34877e77/54c3dd9fe0a5ab76.png');
          background-size: 100% 100%;
        }
      }
    }
  }
  .tab-swiper {
    overflow: hidden;
    display: block;
    flex: 1;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
  }
}

// .horize {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
// }
.content-tab {
  padding: 10px;
}
