.nut-radio{
    .nut-radio-labels{
        width: 100%;
        display: flex;
        flex-wrap: wrap;        
        .nut-radio-list-label{
            margin: 5px;
        }
    }
    .nut-radio-lists{
        
    }
}