@import '../../styles/animation/pulse';
.nut-radio{
	input{
		position: absolute;
		opacity: 0;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;
		padding:0;
	}
}
.nut-radio-list-radio{
	height: 50px;
	display: flex;
	align-items: center;
	flex-direction:row-reverse;
	justify-content: flex-end;
	position: relative;
	.box-border{
		box-sizing: border-box;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		border:1px solid #dcdcdc;
	}
	.text-box{
		margin-left: 8px;
	}
	
	input:checked~.box-border{
		background: url(./../../assets/img/check-radio-on.png) no-repeat center;
		background-size: 24px;
		border:1px solid #f52805;
	}	
	input[disabled="disabled"]:checked ~ .box-border{
		background: url(./../../assets/img/check-radio-ds-on.png) no-repeat center;
		background-size: 24px;
		border:1px solid #f7f7f7;
	}
	input[disabled="disabled"]+.text-box{
		color:#C8C8C8 ;
	}
	input[disabled="disabled"]~ .box-border{
		background:#f7f7f7;
	}
}
.nut-radio-list-label{
	display: inline-block;
	text-align: center;
	line-height: 28px;
	height: 28px;	
	position: relative;
	font-size: 14px;	
	padding:0 15px;
	cursor: pointer;
	label{
		display: inline-block;		
		padding:0 15px;
	}
	input{
		position: absolute;
		opacity: 0;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;
		padding:0;
	}
	.text-box{
		position: relative;
		z-index: 2;
		color:#969696;
	}
	.box-border{
		box-sizing: border-box;
		top:0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		border-radius: 14px;	
		background: rgba(255,255,255,1);
		border: 1px solid rgba(230,230,230,1);
	}
	input:checked + .text-box{
		color: #E1251B;
		position: relative;
		z-index: 2;
	}
	input:checked +.text-box + .box-border{
		background: rgba(255,239,235,1);
		border: 1px solid rgba(225,37,27,1);
	}
	input[disabled="disabled"]+.text-box{
		color:#C8C8C8 ;
	}
	input[disabled="disabled"] +.text-box + .box-border{
		background: #f7f7f7;
		border: 1px solid #dcdcdc;
	}
}
.nut-radio-list-list{
	height: 50px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
	&:last-child{
		border-bottom:	none;
	}
	input{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		opacity: 0;
		position: absolute;
	}
	.box-border{
		margin-left: auto;
	}
	input:checked~.box-border{
		width: 20px;
		height: 21px;
		background: url(./../../assets/img/checked-list.png) no-repeat center;
		background-size: 20px;
	}
	input[disabled="disabled"]+.text-box{
		color:#C8C8C8 ;
	}
	input[disabled="disabled"]~.box-border{
		background: url(./../../assets/img/checked-list-ds.png) no-repeat center;
		background-size: 20px;
	}
}
