.nut-tabbar-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: $black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &--active {
    color: $primary-color;
  }

  &__icon-box {
    padding: 0px;
    display: inline-block;
    position: relative;

    &__tips {
      position: absolute;
      background: $tabbar-active-color;
      border: 1px solid $white;
      border-radius: 8px;
      text-align: center;
      top: -2px;
      right: -7px;
      box-shadow: 0 0 0 1px $white;
      font-size: $font-size-1;
      color: $white;
      z-index: 1;
    }

    &__num {
      line-height: 1;
      font-size: $font-size-0;
      color: $white;
      padding: 1px 2px 2px 2px;
      min-width: 17px;
    }

    &__nums {
      line-height: 1;
      font-size: $font-size-0;
      color: $white;
      padding: 1px 2px 2px 2px;
    }
    &_icon {
      display: block;
      background-size: 100% 100%;
      background-position: center center;
    }
    &--nav-word {
      font-size: $font-size-0;
      display: block;
    }
    &--big-word {
      font-size: $font-size-large;
      line-height: 1;
    }
  }
}
