@keyframes popupEnter {
    from {
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes popupLeave {
    from {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

.popup-leave-active {
    animation: popupLeave 0.3s;
}

.popup-enter-active {
    animation: popupEnter 0.3s;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

ul,
li,
input,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ios默认文本框阴影 */

input[type=text],
textarea {
    -webkit-appearance: none;
}

/* 低版本安卓文本框层级问题 */

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
}

ol,
ul {
    list-style: none
}

.nut-short-pwd {
    color: #232326;
    font-size: 14px;
    .nut-mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }
    .nut-layer {
        background-color: #f3f5f7;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        .nut-title {
            line-height: 50px;
            text-align: center;
            border-bottom: 1px solid #f1f2f4;
            font-size: 16px;
        }
        .nut-close {
            height: 19px;
            width: 19px;
            display: inline-block;
            background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(210,210,210)' viewBox='0 0 30 30'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M.44 2.56A1.5 1.5 0 1 1 2.56.44l27 27a1.5 1.5 0 1 1-2.12 2.12L15 17.123 2.56 29.56A1.5 1.5 0 1 1 .44 27.44L12.878 15 .44 2.56zM27.44.44a1.5 1.5 0 1 1 2.12 2.12l-9 9a1.5 1.5 0 1 1-2.12-2.12l9-9z'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .nut-input-w {
            padding: 30px 0 45px 0;
            text-align: center;
            position: relative;
            .nut-fake-list {
                background: url('#{$assetsPath}/img/shortpwd.png') 0 0 no-repeat;
                background-size: 100% 100%;
                height: 70px;
                width: 322px;
                display: inline-block;
                ul {
                    padding-top: 11px;
                }
                li {
                    float: left;
                    margin-left: 7px;
                }
                input {
                    height: 45px;
                    width: 45px;
                    border: 0;
                    background:none;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .nut-real-input {
                z-index: 10001;
                position: absolute;
                width: 317.5px;
                top: 30px;
                margin-left: -100%;
                height: 70px;
                opacity: 0;
                width: 200%;
            }
        }
    }
    .nut-layer-center {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        width: 90%;
        height: 225px;
        border-radius: 6px;
       
    }
    .nut-forget {
        text-align: right;
        line-height: 30px;
        padding-right: 33px;
        font-size: 13px;
        a {
            color: #666;
            &:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M.5 12c0 6.351 5.149 11.5 11.5 11.5S23.5 18.351 23.5 12 18.351.5 12 .5.5 5.649.5 12z' stroke='rgb(12,12,12)' fill-opacity='0'/%3E%3Cpath  fill='rgb(12,12,12)' d='M10.909 4.364h2.182v2.182h-2.182zM10.909 8.727h2.182v10.909h-2.182z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
                background-size: 100% 100%;
                vertical-align: middle;
                margin: -4px 5px 0 0;
            }
        }
    }
    .nut-fake-cursor {
        position: absolute;
        top: 50px;
        left: 55px;
        display: block;
    }
}

//强制页面在一屏幕范围内
.nut-dis-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

//适配
@media screen and (max-width: 320px) {
    .nut-short-pwd .nut-layer .nut-input-w .nut-fake-list{
        width:320px;
    }
    .nut-short-pwd .nut-layer-center   .nut-input-w .nut-fake-list{
        width:280px;
    }
    .nut-short-pwd .nut-layer .nut-input-w .nut-fake-list li{
        margin-left:4px;
        input{
            width:42px;
        }
    }
}