.nut-theme-dark {
  .nut-noticebar-page {
    background: $dark-background2;
    color: $dark-color;
  }

  .nut-noticebar-vertical {
    .horseLamp_list_item {
      color: $dark-color;
    }
  }
}
.nut-noticebar-page {
  // width: 100%;
  display: flex;
  padding: $noticebar-box-padding;
  height: $noticebar-height;
  font-size: $noticebar-font-size;
  position: relative;
  align-items: center;
  background: $noticebar-background;
  color: $noticebar-color;
  &.wrapable {
    height: auto;
    padding: $noticebar-wrapable-padding;
    .wrap {
      height: auto;
      .content {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }

  .withicon {
    position: relative;
    padding-right: 40px;
  }
  .left-icon {
    height: $noticebar-left-icon-width;
    min-width: $noticebar-left-icon-width;
    margin: $noticebar-lefticon-margin;
    background-size: 100% 100%;
  }
  .right-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $noticebar-right-icon-width;
    margin: $noticebar-righticon-margin;
  }
  .wrap {
    display: flex;
    flex: 1;
    height: $noticebar-line-height;
    line-height: $noticebar-line-height;
    overflow: hidden;
    position: relative;
  }
  .content {
    position: absolute;
    white-space: nowrap;
    &.nut-ellipsis {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  // 只跑一次
  .play {
    animation: nut-notice-bar-play linear both running;
  }
  .play-infinite {
    animation: nut-notice-bar-play-infinite linear infinite both running;
  }
  .play-vertical {
    animation: nut-notice-bar-play-vertical linear infinite both running;
  }
}

@keyframes nut-notice-bar-play {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes nut-notice-bar-play-infinite {
  to {
    transform: translateX(-100%);
  }
}
// 垂直方向的滚动
@keyframes nut-notice-bar-play-vertical {
  to {
    transform: translateY($noticebar-height);
  }
}

// 纵向
.nut-noticebar-vertical {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $noticebar-height;
  font-size: $noticebar-font-size;
  overflow: hidden;
  padding: $noticebar-box-padding;

  .horseLamp_list {
    margin: 0;
    padding: 0;
    display: block;
    flex: 1;
    .horseLamp_list_item {
      display: flex;
      align-items: center;
      height: $noticebar-height;
    }
  }

  .go {
    align-self: center;
    display: flex;
  }
}
