.nut-uploader {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__slot {
    position: relative;
  }

  &__upload {
    position: relative;
    background: $uploader-background;
    width: $uploader-width;
    height: $uploader-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    &:disabled {
      cursor: not-allowed;
    }
  }

  &__preview {
    width: $uploader-width;
    height: $uploader-height;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    &-img {
      position: relative;
      width: 100%;
      height: 100%;
      .close {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
      }
      .tips {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 12px;
        color: $white;
        height: 30px;
        line-height: 30px;
        text-align: c;
        background: rgba(0, 0, 0, 0.54);
      }
      &__c {
        height: 100%;
        width: 100%;
      }
    }
  }
}
