.nut-address {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
    svg {
      width: 20px;
      height: 20px;
    }
    .arrow {
      display: inline-block;
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  // 请选择
  .custom-address {
    .region-tab {
      position: relative;
      margin-top: 32px;
      padding: 0 20px;
      display: flex;
      font-size: 13px;
      color: #1d1e1e;

      .tab-item {
        margin-right: 30px;

        &.active {
          font-weight: bold;
        }

        span {
          display: inline-block;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .region-tab-line {
        position: absolute;
        bottom: -10px;
        left: 20px;
        display: inline-block;
        margin-top: 5px;
        width: 26px;
        height: 3px;
        background: linear-gradient(90deg, rgba(245, 80, 58, 1) 0%, rgba(250, 209, 203, 1) 100%);
        transition: 0.2s all linear;
      }
    }

    .region-con {
      margin: 20px 20px 0;
      .region-group {
        padding-top: 15px;
        height: 270px;
        overflow-y: auto;

        .region-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          font-size: 12px;
          color: #333;
          &.active {
            font-weight: bold;
          }

          .nut-icon {
            margin-right: 6px;
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }

  // 配送至
  .exist-address {
    margin-top: 15px;

    .exist-address-group {
      padding: 15px 20px 0;
      height: 279px;
      overflow-y: scroll;

      .exist-ul {
        .exist-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          font-size: 12px;
          line-height: 14px;
          color: rgba(51, 51, 51, 1);
          &.active {
            font-weight: bold;
          }
          svg {
            margin-right: 9px;
            width: 13px;
            height: 13px;
          }
          span {
            display: inline-block;
            flex: 1;
          }
        }
      }
    }

    .choose-other {
      width: 100%;
      height: 54px;
      padding: 6px 0px 0;
      border-top: 1px solid #f2f2f2;
      .btn {
        width: 90%;
        height: 42px;
        line-height: 42px;
        margin: auto;
        text-align: center;
        background: linear-gradient(135deg, rgba(242, 20, 12, 1) 0%, rgba(242, 39, 12, 1) 70%, rgba(242, 77, 12, 1) 100%);
        border-radius: 21px;
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .nut-icon {
    display: flex;
    align-items: center;
    svg {
      margin-top: -1px;
    }
  }
}
