.nut-navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  padding: 13px 16px;
  background: $white;
  box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);
  font-size: $cell-title-font;
  color: $cell-color;
  margin-bottom: 20px;
  &:active::before {
    opacity: 0.1;
  }
  &--clickable {
    &::before {
      position: absolute;
      content: ' ';
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $black;
      border: inherit;
      border-color: $black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  .nutui-iconfont {
    .nut-icon-left {
      text-align: left;
    }
  }

  &__title {
    min-width: 53%;
    margin: 0 auto;
    text-align: center;
    &.icon {
      .icon {
        margin-left: 13px;
      }
    }
    .nut-icon {
      display: inline;
    }
    &-desc {
      font-size: $cell-title-desc-font;
    }
    .text__title {
      display: inline-block;
    }

    .tab-title {
      width: 164px;
      white-space: nowrap;
      overflow-x: auto;
      display: flex;
      .tab-title-box {
        height: 50px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: rgba(26, 26, 26, 1);
        margin-left: 10px;
      }
      .nut-tab-active {
        color: #1a1a1a;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
          width: 12px;
          height: 4px;
          background-image: url('https://img12.360buyimg.com/imagetools/jfs/t1/127200/40/18747/536/5fb36b5aE61cac2d8/638032e8da9b93f4.png');
          background-size: 100% 100%;
        }
      }
    }
  }

  &__title ::-webkit-scrollbar {
    display: none;
  }

  &__left {
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
  }
  &__right {
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    .rightIcon {
      margin-left: 16px;
    }
    .leftIcon {
      margin-left: 16px;
    }
  }
}
