@import '../../styles/font/iconfont.css';
.nut-icon {
  width: $icon-width;
  height: $icon-height;
  line-height: $icon-line-height;
  text-align: right;

  &__img {
    width: $icon-width;
    height: $icon-height;
    object-fit: contain;
  }
}
