.nut-theme-dark {
  .nut-badge {
    &.show {
      background: $dark-background;
      color: $dark-color;
    }
  }
}
.nut-badge {
  position: relative;
  display: inline-block;
  .slot-icons {
    position: absolute;
    background: $badge-background-color;
    top: -20%;
    right: -20%;
    padding: $badge-padding;
    text-align: center;
    border-radius: $badge-border-radius;
    z-index: $badge-z-index;
  }
  .sup {
    position: absolute;
    background: $badge-background-color;
    padding: $badge-padding;
    text-align: center;
    border-radius: $badge-border-radius;
    font-size: $badge-font-size;
    font-weight: normal;
    color: $badge-color;
  }
  .nut-badge__content {
    transform: $badge-content-transform;
  }
  .is-dot {
    width: $badge-dot-width;
    height: $badge-dot-height;
    border-radius: $badge-dot-border-radius;
    padding: $badge-dot-padding;
  }
}
