.nut-barrage {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  --move-distance: '300%';
  .dmitem {
    width: 100px;
    // max-width: 150px;
    display: block;
    position: absolute;
    right: 0;
    padding: 3px 25px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    white-space: pre;
    transform: translateX(100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    &.move {
      will-change: transform;
      animation-name: moving;
      animation-timing-function: linear;
      animation-play-state: running;
    }
    @keyframes moving {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(var(--move-distance));
      }
    }
    @-webkit-keyframes moving {
      from {
        -webkit-transform: translateX(100%);
      }
      to {
        transform: translateX(var(--move-distance));
      }
    }
  }
}
.nut-theme-dark {
  .nut-barrage {
    .dmitem {
      color: $dark-color-gray;
    }
  }
}
