.nut-fixednav {
  position: fixed;
  z-index: $fixednav-index;
  display: inline-block;
  height: 50px;
  right: 0;

  &.active {
    .nut-icon {
      transform: rotate(180deg);
    }
    .nut-fixednav__list {
      transform: translateX(0%) !important;
    }
    &.left {
      .nut-icon {
        transform: rotate(0deg) !important;
      }
    }
  }

  &__btn {
    box-sizing: border-box;
    position: absolute;
    right: 0;

    z-index: $fixednav-index + 1;
    width: 80px;
    padding-left: 12px;
    height: 100%;
    background: $fixednav-btn-bg;
    border-radius: 45px 0px 0px 45px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    > .text {
      width: 24px;
      line-height: 13px;
      font-size: 10px;
      color: $fixednav-bg-color;
      flex-shrink: 0;
    }
    .nut-icon {
      margin-right: 5px;
      transition: all 0.3s;
      transform: rotate(0deg);
      transition: all 0.3s;
    }
  }

  &__list {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: $fixednav-index;
    flex-shrink: 0;
    height: 100%;
    background: $fixednav-bg-color;
    display: flex;
    justify-content: space-between;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
    padding: {
      left: 20px;
      right: 80px;
    }
    &-item {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      position: relative;
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 50px;
      flex-shrink: 0;

      &.active {
        > .span {
          color: $fixednav-item-active-color;
        }
      }

      > img {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
      }
      > .span {
        font-size: 10px;
        color: $fixednav-font-color;
      }
      > .b {
        position: absolute;
        right: 0;
        top: 1px;
        height: 14px;
        line-height: 14px;
        font-size: 10px;
        padding: 0 3px;
        color: white;
        background: $primary-color;
        border-radius: 7px;
        text-align: center;
        min-width: 12px;
      }
    }
  }
  &.left {
    right: auto;
    left: 0;

    .nut-fixednav__btn {
      flex-direction: row-reverse;
      right: auto;
      left: 0;
      border-radius: 0 45px 45px 0;
      .nut-icon {
        transform: rotate(180deg);
      }
    }
    .nut-fixednav__list {
      transform: translateX(-100%);
      right: auto;
      border-radius: 0px 25px 25px 0px;
      padding: {
        left: 80px;
        right: 20px;
      }
    }
  }
}
