.nut-shortpsd-title {
  line-height: 1;
  font-size: $font-size-3;
  color: $title-color;
}

.nut-shortpsd-subtitle {
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
  line-height: 1;
  font-size: $font-size-1;
  color: $text-color;
}
.nut-shortpsdWx-subtitle {
  display: block;
  margin-top: 12px;
  line-height: 1;
  font-size: $font-size-1;
  color: $text-color;
}

.nut-input-w {
  padding: 24px 0 10px 0;
  text-align: center;
  position: relative;
  .nut-input-site {
    width: 247px;
    height: 41px;
    border-radius: 4px;
  }
  input {
    width: 247px;
    height: 41px;
    border-radius: 4px;
  }
  .nut-input-real {
    padding: 0 12px;
    opacity: 0;
  }
}
.nut-input-real-taro {
  width: 0;
  padding: 0 12px;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.psd-blink {
  display: inline-block;
}

.nut-shortpsd-fake {
  width: 100%;
  height: 41px;
  margin: 0 auto;
  background: $shortpsd-background-color;
  border-radius: 4px;
  border: 1px solid $shortpsd-border-color;
  display: flex;
  position: absolute;
  left: 0;
  top: 29%;
  z-index: 0;
}

.nut-shortpsd-li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nut-shortpsd-icon {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
}

.nut-shortpsd-message {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  width: 247px;

  .nut-shortpsd-error {
    line-height: 1;
    font-size: $font-size-0;
    color: $shortpsd-error;
  }

  .nut-shortpsd-forget {
    line-height: 1;
    font-size: $font-size-1;
    color: $shortpsd-forget;
    display: flex;
  }
}

.nut-shortpsd-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .nut-shortpsd-cancle {
    background: $white;
    border: 1px solid $primary-color;
    border-radius: 15px;
    padding: 8px 38px;
    line-height: 1;
    font-size: $font-size-2;
    color: $primary-color;
  }

  .nut-shortpsd-sure {
    background: linear-gradient(
      135deg,
      $primary-color 0%,
      $primary-color-end 100%
    );
    border-radius: 15px;
    padding: 8px 38px;
    line-height: 1;
    font-size: $font-size-2;
    color: $white;
  }
}
