.nut-theme-dark {
  .nut-tabpane {
    background: $dark-background2;
  }
}
.nut-tabpane {
  width: 100%;
  flex-shrink: 0;
  display: block;
  background-color: #fff;
  padding: 24px 20px;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  word-break: break-all;
  &.inactive {
    overflow: visible;
    height: 0;
  }
}
