.nut-audio-operate-group {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .nut-audio-operate {
    .nut-audio-operate-item {
      margin: 0 5px;
    }
  }
}
