.nut-price {
  font-size: $font-size-3;
  display: inline;
  color: $primary-color;
  &--symbol {
    display: inline-block;
    font-size: $font-size-3;
    margin-right: 4px;
  }
  &--big {
    display: inline-block;
    font-size: $price-big-size;
  }
  &--point {
    display: inline-block;
    font-size: $price-big-size;
  }
  &--small {
    display: inline-block;
    font-size: $font-size-4;
  }
}
