.nut-price {
  font-size: 0;
  display: inline;
  color: $primary-color;
  &--symbol {
    display: inline-block;
    font-size: $font-size-3;
    // margin-right: 4px;
  }
  &--large {
    display: inline-block;
    font-size: $price-big-size;
  }
  &--point {
    display: inline-block;
    font-size: $price-big-size;
  }
  // &--small {
  //   display: inline-block;
  //   font-size: $font-size-4;
  // }

  &--decimal-large {
    display: inline-block;
    font-size: $price-decimal-big-size;
  }
  &--symbol-large {
    display: inline-block;
    font-size: $price-symbol-big-size;
  }
  &--normal {
    display: inline-block;
    font-size: $price-medium-size;
  }
  &--decimal-normal {
    display: inline-block;
    font-size: $price-decimal-medium-size;
  }
  &--symbol-normal {
    display: inline-block;
    font-size: $price-symbol-medium-size;
  }
  &--small {
    display: inline-block;
    font-size: $price-small-size;
  }
  &--decimal-small {
    display: inline-block;
    font-size: $price-decimal-small-size;
  }
  &--symbol-small {
    display: inline-block;
    font-size: $price-symbol-small-size;
  }
  // &--decimal--big {
  //   display: inline-block;
  //   font-size: $price-medium-size;
  // }
}
