.nut-stepper{
    border:1px solid #dedede;
    .nut-stepper-fake,.nut-stepper-fake-{
        background: #fff;
        div{
            background: #fff;
        }
    }
    span{
        &:first-child{
            border-right: 1px solid #dedede;
        }
        &:last-child{
            border-left: 1px solid #dedede;
        }
    }
}
.nut-stepper-simple{
    span{
        font-weight: bold;
    }
    input{
        background: #f6f6f6;
    }
    .nut-stepper-fake,.nut-stepper-fake-{
        background: #f6f6f6;
        div{
            background: #f6f6f6;
        }
    }
}
.nut-stepper,.nut-stepper-simple{
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: flex;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .nut-stepper-none-transition{
        transition: none;
    }
    .nut-stepper-transition{
        transition: all .4s;
    }
    .nut-stepper-fake,.nut-stepper-fake-{
        position: absolute;
        top: 0;
        left: 25%;
        right: 25%;
        bottom: 0;
        text-align: center;
        font-size: 13px;
        
    }
    span{
        color: #666;
        width: 25%;
        text-align: center;
        cursor: pointer;
        padding: 0;
        box-sizing: border-box; 
        -webkit-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            vertical-align: top;
            width: $stepperbar-width;
            fill: $stepperbar-color;
        }
    }
    input{
        border:none;
        width:50%;
        text-align: center;
        border-radius: 0;
        padding: 0;
        appearance:none;
        box-sizing: border-box; 
        outline: none;
        font-family: initial;
        color: $stepper-color;
    }
    .nut-stepper-grey{
        color: #ececee;
        svg{
            vertical-align: top;
            fill: #cecece!important;
        }
    }
}