.nut-stepper {
	border: $border-width-base $border-style-base $disabled-border;

	.nut-stepper-fake,
	.nut-stepper-fake- {
		background: #fff;

		div {
			background: #fff;
		}
	}

	span {
		// &:first-child {
		//   border-right: 1px solid #dedede;
		// }
		// &:last-child {
		//   border-left: 1px solid #dedede;
		// }
	}
}

.nut-stepper-simple {
	span {
		font-weight: bold;
	}

	input {
		background: $body-background-color;
	}

	.nut-stepper-fake,
	.nut-stepper-fake- {
		background: $body-background-color;

		div {
			background: $body-background-color;
		}
	}
}

.nut-stepper,
.nut-stepper-simple {
	width: 120px;
	height: 30px;
	line-height: 30px;
	display: flex;
	border-radius: 4px;
	position: relative;
	overflow: hidden;

	.nut-stepper-none-transition {
		transition: none;
	}

	.nut-stepper-transition {
		transition: all 0.4s;
	}

	.nut-stepper-fake,
	.nut-stepper-fake- {
		position: absolute;
		top: 0;
		left: 25%;
		right: 25%;
		bottom: 0;
		text-align: center;
		font-size: $font-size-display-normal;
	}

	.oper-wrapper {
		width: 29px;
		height: 32px;
		background: $body-background-color;
		position: relative;
	}

	.add-wrapper {
		margin-left: 1px;
	}

	.reduce-wrapper {
		margin-right: 1px;
	}

	span {
		height: 18px;
		width: 18px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
		color: #666;
		text-align: center;
		cursor: pointer;
		padding: 0;
		box-sizing: border-box;
		-webkit-user-select: none;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			vertical-align: top;
			width: $stepperbar-width;
			fill: $stepperbar-color;
		}
	}

	input {
		width: 60px;
		height: 32px;
		border: none;
		// width: 50%;
		text-align: center;
		border-radius: 0;
		padding: 0;
		appearance: none;
		box-sizing: border-box;
		outline: none;
		font-family: initial;
		font-size: $font-size-large;
		color: $stepper-color;
	}

	.nut-stepper-grey {
		color: #ececee;

		svg {
			vertical-align: top;
			fill: #cecece !important;
		}
	}
}
