.nut-popover--dark,
.nut-popover {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  .more-background {
    background: rgba(255, 255, 255, 1);
    opacity: 0;
    position: fixed;
    top: 49px;
    width: 100%;
    height: 1000px;
    z-index: 10;
    left: 0;
  }
  .popoverContent--left,
  .popoverContent--right,
  .popoverContent--top,
  .popoverContent {
    z-index: 12;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    opacity: 1;
    font-size: 14px;
    font-family: PingFangSC;
    font-weight: normal;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    top: 49px;
    .popoverArrow {
      position: absolute;
      left: 10px;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 5px solid transparent;
      border-bottom: 5px solid rgba(255, 255, 255, 1);
    }
    .title-item {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      margin: 8px;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-bottom: 2px;
        border-bottom: none;
      }
      .title-name {
        margin-right: 12px;
        margin-left: 8px;
        width: 100%;
      }
    }
  }
  .popoverContent--top {
    top: -120px;
    .popoverArrow--top {
      position: absolute;
      left: 10px;
      bottom: -10px;
      top: auto;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 5px solid rgba(255, 255, 255, 1);
      border-bottom: 5px solid transparent;
    }
  }
  .popoverContent--left {
    top: -30px;
    left: -90px;
    .popoverArrow--left {
      position: absolute;
      right: -13px;
      top: 49px;
      border-left: 5px solid rgba(255, 255, 255, 1);
      border-right: 5px solid transparent;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
  .popoverContent--right {
    top: -30px;
    right: -90px;
    .popoverArrow--right {
      position: absolute;
      left: -10px;
      top: 49px;
      border-left: 5px solid transparent;
      border-right: 5px solid rgba(255, 255, 255, 1);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }

  .disabled {
    color: rgba(154, 155, 157, 1);
    cursor: not-allowed;
  }
}

.nut-popover--dark {
  background: rgba(75, 76, 77, 1);
  color: rgba(255, 255, 255, 1);
  .popoverContent--left,
  .popoverContent--right,
  .popoverContent--top,
  .popoverContent {
    background: rgba(75, 76, 77, 1);
    color: rgba(255, 255, 255, 1);
    .popoverArrow {
      border-bottom: 5px solid rgba(75, 76, 77, 1);
    }
  }
  .popoverContent--top {
    top: -120px;
    .popoverArrow--top {
      position: absolute;
      left: 10px;
      bottom: -10px;
      top: auto;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 5px solid rgba(75, 76, 77, 1);
      border-bottom: 5px solid transparent;
    }
  }
  .popoverContent--left {
    top: -30px;
    left: -90px;
    .popoverArrow--left {
      position: absolute;
      left: 78px;
      top: 49px;
      border-left: 5px solid rgba(75, 76, 77, 1);
      border-right: 5px solid transparent;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
  .popoverContent--right {
    top: -30px;
    right: -90px;
    .popoverArrow--right {
      position: absolute;
      left: -10px;
      top: 49px;
      border-left: 5px solid transparent;
      border-right: 5px solid rgba(75, 76, 77, 1);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
}
