.nut-imagepicker {
	display: block;

	.img-list {
		display: inline-block;

		.img-item {
			display: inline-block;
			margin: 0 0 5px 0;

			a {
				display: inline-block;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					border-radius: 6px;
					transition: all 5s ease-in-out;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.add-icon {
			display: inline-block;
			position: relative;
			border: 1px dashed $primary-color;
			border-radius: 6px;
			box-sizing: border-box;
			cursor: pointer;

			i {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 20px;
				height: 20px;
				color: $primary-color;

				svg {
					vertical-align: top;
					fill: currentColor;
				}
			}

			input[type='file'] {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				top: 0;
				left: 0;
			}
		}
	}
}
