.nut-trendarrow {
  display: inline-block;
  font-size: $trendarrow-font-size;
  &-icon-before {
    margin-right: $trendarrow-before-icon-margin;
  }
  &-icon-after {
    margin-left: $trendarrow-before-icon-margin;
  }
  &-rate {
    vertical-align: middle;
    display: inline;
  }
  .nut-icon {
    vertical-align: middle;
  }
}
