.nut-button {
    display: block;
    background: $button-default-bg-color;
    color: $button-default-color;
    font-size: $button-default-font-size;
    line-height: $button-default-height;
    height: $button-default-height;
    border-radius: $button-border-radius;
    text-align: center;
}
