.nut-theme-dark {
  .nut-infinite-loading {
    .nut-infinite__bottom {
      color: $dark-color;

      .bottom-text {
        color: $dark-color;
      }
    }
  }
}

.nut-infinite-loading {
  display: block;
  width: 100%;

  .nut-infinite__bottom {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: $font-size-small;
    color: $infiniteloading-bottom-color;
    text-align: center;

    .nut-infinite__bottom-box {
      display: flex;
      align-items: center;
      justify-content: center;
      &__img {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }
      &__text {
        font-size: 12px;
        color: $text-color;
      }
    }
  }
}
