.nut-theme-dark {
  .nut-cell {
    background: $dark-background2;
    color: $dark-color;
    box-shadow: none;
  }
}
.nut-cell {
  position: relative;
  display: flex;
  width: 100%;
  line-height: $cell-line-height;
  padding: $cell-padding;
  background: $cell-background;
  border-radius: $cell-border-radius;
  box-shadow: 0px 1px 7px 0px rgba(237, 238, 241, 1);
  font-size: $cell-title-font;
  color: $cell-color;
  margin: 10px 0;
  box-sizing: border-box;

  &--center {
    align-items: center;
  }

  &--large {
    font-size: $cell-large-title-font;
    padding: $cell-large-padding;
    line-height: $cell-large-line-height;
    .nut-cell__title-desc {
      font-size: $cell-large-title-desc-font;
      line-height: $cell-large-title-desc-line-height;
    }

    .nut-cell__icon {
      margin: $cell-default-large-icon-margin;

      .nut-icon {
        width: $cell-default-large-icon-size;
        height: $cell-default-large-icon-size;
        line-height: $cell-default-large-icon-size;
      }

      .nutui-iconfont {
        font-size: $cell-default-large-icon-font-size;
      }
    }

    .nut-cell__link.nut-icon {
      height: $cell-large-icon-link-height;
      line-height: $cell-large-icon-link-height;
    }
  }

  &:last-child {
    &::after {
      border: 0 !important;
    }
  }

  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: $cell-after-right;
    bottom: 0;
    left: 16px;
    transform: scaleY(0.5);
  }

  &:active::before {
    opacity: 0.1;
  }
  &--clickable {
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $black;
      border: inherit;
      border-color: $black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    margin: $cell-default-icon-margin;

    .nut-icon {
      width: $cell-default-icon-size;
      height: $cell-default-icon-size;
      line-height: $cell-default-icon-size;
    }

    .nutui-iconfont {
      font-size: $cell-default-icon-font-size;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex: 1;
    &-desc {
      line-height: $cell-title-desc-line-height;
      font-size: $cell-title-desc-font;
      color: $cell-title-desc-color;
    }
  }
  &__value {
    display: inline-block;
    text-align: right;
    flex: 1;
    font-size: $cell-desc-font;
    color: $cell-desc-color;
    &--alone {
      color: $cell-color;
    }
  }
  &__link.nut-icon {
    color: $cell-icon-link-color;
    margin: $cell-icon-link-margin;
    width: $cell-icon-link-width;
    min-width: 1em;
    height: $cell-icon-link-height;
    line-height: $cell-icon-link-height;
    font-size: $cell-icon-link-font-size;
  }
}
