.nut-searchbar {
  display: flex;
  align-items: center;
  .search-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    flex: 1;
    padding: 0 0 0 13px;
    background-color: #fff;
    border-radius: 16px;

    .input-inner {
      display: flex;
      position: relative;
      .input-clear {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        & .nut-icon-mask-close {
          color: rgb(204, 204, 204);
          &:hover {
            cursor: pointer;
            color: rgb(104, 104, 104);
          }
        }
      }
    }

    .iptleft-search-icon {
      margin-left: 12px;
      margin-right: 6px;
      width: 14px;
      height: 14px;
    }

    .iptright-sarch-icon {
    }

    .input-bar {
      width: 200px;
      height: 32px;
      flex: 1;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border-color: transparent;
      border-radius: 16px;
      outline: none;
      font-size: 14px;
    }
  }

  .left-search-icon {
    margin-right: 8px;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-search-icon {
    margin-left: 16px;
  }

  .btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    font-size: 14px;
    color: #e1251b;
  }

  a {
    text-decoration: none;
  }

  .nut-icon {
    vertical-align: middle;
  }
}
