.nut-theme-dark {
  .nut-searchbar {
    background: $dark-background;
    &__search-label {
      color: $dark-color;
    }
    .nut-searchbar__input-clear {
      & .nut-searchbar__nut-icon-mask-close {
        color: $dark-color;
        &:hover {
          cursor: pointer;
          color: $dark-color;
        }
      }
    }
    &__right-search-icon,
    &__left-search-icon {
      color: $dark-color;
    }
  }
}
.nut-searchbar {
  display: flex;
  align-items: center;
  width: $searchbar-width;
  padding: $searchbar-padding;
  background: $searchbar-background;
  box-sizing: border-box;
  color: $searchbar-input-bar-color;

  &::placeholder {
    color: $searchbar-input-bar-placeholder-color;
  }

  &__search-label {
    padding: 0 5px;
    color: #323233;
  }
  &__search-input {
    display: flex;
    align-items: center;
    width: $searchbar-input-width;
    height: $searchbar-input-height;
    flex: 1;
    padding: $searchbar-input-padding;
    border-radius: $searchbar-input-border-radius;
    box-shadow: $searchbar-input-box-shadow;
    background: $searchbar-input-background;
    box-sizing: border-box;

    .nut-searchbar__input-inner {
      display: flex;
      position: relative;
      width: 100%;
      > taro-form-core {
        width: 100%;
      }
      form {
        display: flex;
        align-items: center;
        width: 100%;
      }
      input {
        width: 100%;
        height: 100%;
        min-width: 214px;
        padding-left: 4px;
      }
      .nut-searchbar__input-clear {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-right: 10px;
        & .nut-searchbar__nut-icon-mask-close {
          color: rgb(204, 204, 204);
          &:hover {
            cursor: pointer;
            color: rgb(104, 104, 104);
          }
        }
      }
    }

    .nut-searchbar__iptleft-search-icon {
      margin-right: 6px;
      width: 14px;
      height: 14px;
    }

    .nut-searchbar__iptright-sarch-icon {
      margin-right: 12px;
    }

    .nut-searchbar__input-bar {
      width: 100%;
      height: 36px;
      flex: 1;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border-color: transparent;
      border-radius: 16px;
      outline: none;
      font-size: 14px;
    }
  }

  &__left-search-icon {
    margin-right: 8px;
  }

  &__search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right-search-icon {
    margin-left: 16px;
    font-size: 14px;
    color: $searchbar-right-out-color;
  }
}
