.nut-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: right;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
