.nut-theme-dark {
  .nut-side-navbar-item {
    background-color: $dark-background2;
    &__title {
      background-color: $dark-background2;
      color: $dark-color;
    }
  }
}
.nut-side-navbar-item {
  height: $sidenavbar-item-height;
  line-height: $sidenavbar-item-line-height;
  display: block;
  font-size: $sidenavbar-item-font-size;
  background-color: $sidenavbar-item-title-bg-color;
  &__title {
    color: $sidenavbar-item-title-color;
    background-color: $sidenavbar-item-title-bg-color;
  }
}
