.nut-theme-dark {
  .nut-backtop {
    &.show {
      background: $dark-background;
      color: $dark-color;
    }
  }
}
.nut-backtop {
  display: none;
  position: fixed;
  &.show {
    width: 40px;
    height: 40px;
    background: $white;
    border: 1px solid $backtop-border-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.show :active {
    background: rgba(0, 0, 0, 0.1);
  }
  &-main {
    transition: all 0.2s ease-in-out;
  }
}
