.nut-rate {
  display: inline-flex;
  &-item {
    display: flex;
    flex-shrink: 0;
    position: relative;
    &:last-child {
      margin-right: 0;
    }

    &__icon {
      color: $rate-icon-color;
      cursor: pointer;

      &::before {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }

      &--disabled {
        color: $rate-icon-void-color;
      }
      &--half {
        position: absolute;
        width: 50% !important;
        left: 0;
        top: 0;
        overflow: hidden;
        height: auto !important;
      }
    }
  }
}
