@import '../../styles/variable.scss';
.nut-notify {
    box-sizing: border-box;
    padding: $notify-padding;
    color: $notify-text-color;
    font-size: $notify-font-size;
    line-height: $notify-line-height;
  
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
  
    &--primary {
      background-color: $notify-primary-background-color !important;
    }
  
    &--success {
      background-color: $notify-success-background-color !important;
    }
  
    &--danger {
      background-color: $notify-danger-background-color !important;
    }
  
    &--warning {
      background-color: $notify-warning-background-color !important;
    }
  }