.nut-actionsheet-modal {
	padding: 13px 30px 13px;
	margin: 0;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid rgba(230,230,230,1);
	line-height: 22px;
	.nut-actionsheet-title {
		font-size: 15px;
		font-weight: bold;
		color: #323232;
	}

	.nut-actionsheet-sub-title {
		font-size: 14px;
		color: #969696;
		margin-inline-start: 0;
		div{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.nut-actionsheet-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nut-actionsheet-cancel,
.nut-actionsheet-item {
	height: 28px;
	padding: 10px;
	line-height: 28px;
	font-size: 15px;
	color: #323232;
	text-align: center;
	background-color: #fff;
}

.nut-actionsheet-item {
	border-top: 1px solid rgba(230,230,230,1);
	&:first-child{
		border-top: 0;
	}
}

.nut-actionsheet-item-active {
	color: $primary-color; // #E1251B
}

.nut-actionsheet-item-disabled {
	color: #C8C8C8;
}

.nut-actionsheet-cancel {
	border-top: 1px solid rgba(230,230,230,1);
	color: #C8C8C8;
}

.nut-actionsheet-confirm {
	padding: 12px 15px;
	border-top: 1px solid rgba(230,230,230,1);
	color: #FFF;
	.confirm-btn{
		width: 100%;
		height: 40px;
		background: rgba(225,37,27,1);
		border-radius: 4px;
		font-size: 15px;
		line-height: 40px;
		text-align: center;
	}
}
