.nut-actionsheet-modal {
  padding: 13px 30px 13px;
  margin: 0;
  text-align: center;
  background-color: $as-base-bg-color;
  border-bottom: 1px solid $as-border-color;
  line-height: 22px;
  .nut-actionsheet-title {
    font-size: $as-base-font-size;
    font-weight: bold;
    color: $as-base-color;
  }

  .nut-actionsheet-sub-title {
    font-size: $as-desc-font-size;
    color: $as-desc-color;
    margin-inline-start: 0;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.nut-actionsheet-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nut-actionsheet-cancel,
.nut-actionsheet-item {
  height: 48px;
  padding: 0 10px;
  line-height: 48px;
  font-size: $as-base-font-size;
  color: $as-base-color;
  text-align: center;
  background-color: $as-base-bg-color;
}

.nut-actionsheet-item {
  border-top: 1px solid $as-border-color;
  &:first-child {
    border-top: 0;
  }
}

.nut-actionsheet-item-active {
  color: $primary-color; // #E1251B
}

.nut-actionsheet-item-disabled {
  color: $as-disable-color;
}

.nut-actionsheet-cancel {
  border-top: 1px solid $as-border-color;
  color: $text-black-3;
}

.nut-actionsheet-confirm {
  padding: 12px 15px;
  border-top: 1px solid $as-border-color;
  color: $as-confirm-btn-color;
  .confirm-btn {
    width: 100%;
    height: 40px;
    background: $as-confirm-btn-bg;
    border-radius: 4px;
    font-size: $as-base-font-size;
    line-height: 40px;
    text-align: center;
  }
}
