.nut-avatar{
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon{
    width:50%;
    height: 50%;
    background-size:100% 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.text{
    //transform: scale(0.75);
    width:100%;
    text-align: center;
    overflow: hidden;
}
.dot{
    position: absolute;
    min-width: 18px;
    min-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    background:red;
    top:-4px;
    right: -5px;
    color: #fff;
    font-size: 12px;
    transform: scale(0.8);
}