.wrapper-cell {
	background: #fff;

	.nut-cell {
		display: block;
		margin: 0 20px;
		padding: 12px 0;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		outline: none;
		border-bottom: 1px solid transparent;
		border-image: linear-gradient(to bottom,transparent 50%, rgba(230, 230, 230, 1) 50%) 0 0 100%/1px 0;
		&.nut-cell-link:active {
			background-color: $light-color !important;
		}

		.nut-cell-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.avatar{
			margin-right: 13px;
		}
		.nut-avatar{
			margin-right:8px;
		}
		.nut-cell-left {
			flex: 1;
			flex-direction: column;
			//margin-left: 8px;
		}

		.nut-cell-title {
			display: block;
			line-height: 25px;
			font-size: 16px;
			color: rgba(100, 100, 100, 1);
		}

		.nut-cell-sub-title {
			display: block;
			line-height: 18px;
			font-size: $font-size-small;
			color: #c8c8c8ff;

			&:empty {
				display: none;
			}
		}

		.nut-cell-right {
			display: flex;
			align-items: center;
			font-size: $font-size-small;
			color: $text-color;
			.nut-cell-desc {
				color: #969696ff;
				//margin-right: 10px;
			}
		}

		.nut-cell-icon {
			display: flex;
			align-items: center;

			img {
				//height: 14px;
				margin-left: 4px;
			}
		}
	}

	&:last-child .nut-cell {
		border-bottom: none;
	}
}