@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.nut-toast {
  position: fixed;
  left: 0;
  bottom: 150px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
  font-family: $font-family;
  &.nut-toast-small {
    .nut-toast-inner {
      font-size: $font-size-small;
    }
  }
  &.nut-toast-large {
    .nut-toast-inner {
      font-size: $font-size-large;
    }
  }
  &.nut-toast-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    height: 100%;
  }
  .nut-toast-inner {
    // position: relative;
    display: inline-block;
    font-size: $font-size-base;
    min-width: 40%;
    max-width: 65%;
    text-align: center;
    line-height: 1.5;
    padding: 10px 30px;
    word-break: break-all;
    background: rgba(0, 0, 0, 0);
    border-radius: 7px;
    color: #fff;
  }
  .nut-toast-text {
    font-size: 14px;
  }
  &.nut-toast-has-icon {
    .nut-toast-inner {
      padding: 22px 15px 15px;
    }
    .nut-toast-icon-wrapper {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;
    }
  }
  &.nut-toast-center {
    top: 50%;
    transform: translateY(-50%);
  }
  &.nut-loading {
    .nut-toast-inner {
      padding: 25px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .nut-toast-icon-wrapper {
      animation: rotation 2s linear infinite;
    }
    .nut-toast-text:not(:empty) {
      margin-top: 10px;
      margin-bottom: -10px;
    }
  }
}

.toast-fade-enter-active {
  transition: opacity 0.3s;
}

.toast-fade-leave-active {
  transition: opacity 0.3s;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
  opacity: 0;
}
