@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.nut-toast {
  position: fixed;
  left: 0;
  bottom: 150px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
  &-small {
    .nut-toast__inner,
    .nut-toast__text {
      font-size: $font-size-small;
    }
  }
  &-large {
    .nut-toast__inner,
    .nut-toast__text {
      font-size: $font-size-large;
    }
  }
  &-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    height: 100%;
  }
  &__inner {
    display: inline-block;
    font-size: $font-size-base;
    min-width: 40%;
    max-width: 65%;
    text-align: center;
    padding: 24px 30px;
    word-break: break-all;
    background: rgba(0, 0, 0, 0);
    border-radius: 12px;
    color: $white;
  }
  &__text {
    font-size: 14px;
    &:empty {
      margin-bottom: -8px;
    }
  }
  &-has-icon {
    .nut-toast__icon-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
  }
  &-center {
    top: 50%;
    transform: translateY(-50%);
  }
  &-loading {
    .nut-toast__inner {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .nut-toast__icon-wrapper {
      animation: rotation 2s linear infinite;
    }
  }
}

.toast-fade-enter-active {
  transition: opacity 0.3s;
}

.toast-fade-leave-active {
  transition: opacity 0.3s;
}

.toast-fade-enter-from,
.toast-fade-leave-to {
  opacity: 0;
}
