@import '../../styles/animation/rotate';

.nut-toast {
	width: 100%;
	text-align: center;

	&.popup-box {
		background-color: transparent;
	}

	&.nut-toast-buttom {
		bottom: 150px;
		top: auto;
		left: 0;
		transform: initial;
	}
}

.nut-toast-small {
	.nut-toast-inner {
		font-size: $font-size-small;
	}
}

.nut-toast-large {
	.nut-toast-inner {
		font-size: $font-size-large;
	}
}

.nut-toast-cover {
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
	background-color: transparent;
	height: 100%;
}

.nut-toast-inner {
	position: relative;
	display: inline-block;
	font-size: $font-size-base;
	max-width: 65%;
	text-align: center;
	line-height: 1.5;
	padding: 10px 30px;
	word-break: break-all;
	background: rgba(46, 46, 46, 0.8);
	border-radius: 4px;
	color: #fff;
}

.nut-toast-has-icon {
	.nut-toast-inner {
		padding: 70px 50px 30px;
	}

	.nut-toast-icon-wrapper {
		position: absolute;
		left: 0;
		top: 20px;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nut-toast-icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-size: 100%;

		&.success {
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAmCAYAAABDClKtAAAEfUlEQVR4Ab3Bb4jfdR0A8Nf7e8vt1s7lWrnmRiuabSSZ9geHIqOVm8eGaOAQLAqWDfZgMbFHW36/WeCj2BBSix7YUukq0XmJIyYSHFNnA0nhMMtkwdyfts65zfTmu4PPwe8c+9397rzt9QpTlJmBRViKS9CNUziGV3EwItIUhEnIzDm4BTdhJeZp7xCexWPYFRHv6FDoQGZeijuxET0m7xjuw46IOG4CYRyZWWET7sFcLe9hHwYwiMM4jdlYgOW4DlejS8sR3IWHIkI7oY3MnI+dWKPldWzHIxFx1AQycyFux2Ys1NKHDRFxwjmEc8jMJdiNyxVD2Ib7I2LYJGXmTGzBVsxW7EdvRBxylnCWzLwMA/i04nmsj4g3fEiZuRx9uELxCq6PiGPG6DJGZnbjGXxe8QTWRcRR06BpmqN1XT+MFViCT2JFXde/bZrmfaMqH7QDVyp249aIOG0aRcRbWIvnFNejMUZlVGauxAbFP7A+It51HkTESdyMNxU/yswvGlUZkZmB7Qi8j29HxJDzKCLexPcVM/BzoyrFWlyp+E1E7HUBREQ/+hWrMnOFEZVio+IMfurC+omWHxgRmTkfBzEDT0fEjaZJZgZ68UZEvKyNzNyHr+BtfKLC1zFD8TvTJDONeAD9eDEzl2ivTzEHKypcq2WP6bMNdyguwizt7dFybYVliv9ExAHjyMwvZOZiE8jM76LRsi0iBrX3MoYVyyosVvzTODLzZvwNf8/MXm1k5mr8EqF4ED8zjoh4F/9WLK7Qoxgyvs8hMBN/zMzVzpKZV+H3+IjiSWyKCB0YUvRUWsL4foEBxSw8npnfNCozl+BP6FG8gNsi4oxJqnBCcbFxRMRJ9OI5xSw8kZmrMnMensKnFK9hXUSc1Lm5ihMVDig+awIR8RbW4AVFN3ZhD5YrjuDGiDisQ5l5ERYpDlQYVHw8MxebQEQMYTVeVMzGlxSnsC4iXjM5V2CGYrDCgJZVOhAR/8UN2K/lDG6LiOdN3iotAxWewbBivQ5FxHHcgL34H+6IiF2m5lbF29jb1TTNqbqur8FSfKau64ebpjmuA03TnK7r+te4NyL+agoy86u4W/FoRPxhhuIB9KILW/E9HYoII4ZN3Y+1PGhEpejHS4rvZOYKF0BmrsVaxZ6I2GtEZUREJH6IRIWdmTnXeZSZC/ArxTC2GNVlVNM0/6rr+jJ8GfNwVV3XfU3TnDHNMvOjeArLFPdGxKNGVT5oM15SrEZfZnabRpl5MfpxjeIvuNsYXcZomma4rusn8S18DMvwjbqu/9w0zZAPKTOX42l8TfEK1kTESWOEc8jMJdiNyxVD2Ib7I2LYJGXmTGzBVsxW7EdvRBxyltBGZs7HTqzR8jq245GIOGoCmbkQt2MzFmrpw4aIOOEcwjgys8Im3IO5Wt7DPgxgEIdxGrOxAMtxHa5Gl5YjuAsPRYR2Qgcy81LciY3oMXnHcB92RMRxEwiTkJlzcAtuwkrM094hPIvHsCsi3tGhMEWZGViEpbgE3TiFY3gVByMiTcH/AQ40katoq6uxAAAAAElFTkSuQmCC");
		}

		&.fail {
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAETklEQVR4Ab3Bv4uXhx0H8Nf7+RaKAaubkzQITjmo+QNS42AdRGgISVtc2kBoLOdg4x1FIfd8j5rhLj8wPeoW6CBtUoKDSBGHcM3i0EYbdFGQgF100kjtEu+TLzxXntOcX88z9vWKJ1BVz2A7tmKjzh1cx9Ukd61TPKaqeg77sRvPY2B193AB53AyyWWPIdaoqvbgKF6wPp/hWJKz1iAeoaqexQL2ut8NfIqLuIbbOpuwDTuwC1vc7wwmk3xpjBijql7Ch9iss4RPcAKLSZaMUVUNduIAXkajcwuvJTnlIeIhquoQ3kV0FjGZ5JJ1qKoJLGCnTuHNJO9bxcAqquoQ3kPwNX6HXye5aZ2Gw+HNtm3/hP9gFwbY07btV8Ph8LwHxAOq6iV8guC/+FmS075DVbUPH2EDCi8nOWWFgRWq6ln8DRvwNV5Jctp3bDgcXmnb9gu8ggH2tG370XA4vGVZ434L2KxzJMlpT0mS0ziisxkLVmgsq6o92KuziHc8fe9gUWdvVe2xrNE7qrOEySTlKUtSmMSSzlHLYqSqnsMlnb8medVDVNUP0eJz/CGJ1VRVcAgTeCvJvz1EVX2MV3QmklxudPbrnTBei1/iA8xVlQdVVXAc7+JXOGK8E3r7jTQ6u3VuYNF4/9SbwlxV+Z+qCo7joN7nxlvEDZ3dRlJVz+ArDPCXJL8wRlUZmcOU3jymERzHQb3ZJDMeoar+jJ/jHn7QYDsGOhc9QhIj05jXm8IcjuOg3mySGWtzUWeA7Q226l2zBkmMTGNebwoH9WaTzFi7a3pbG2zUu22NkhiZxrxvm00y4/Hc1tvYeDLBBt+2oao8iQZ39DZZo6oKPsCkb5vCXFV5DJv07jS4rrfNGlRVcByTerOY15vCXFVZo2161xtcxT2dHR6hqoLjOKg3m2QG05jXm8JcVVmDHTr3cLVJchcXdHZVVWO8QzioN5tkxkgSI9OY15vCG8aoqga7dC4kudvonNPZgp3Gm9CbTTJjhSRGpjGvN2G8F7FF55yRRuek3gHjvYUTeD3JjFUkMTKN3+CP+L3x3tA7aSSWVdXf8QKW8KMkl/wfVNUE/oUGnyX5sZFG75hOg4WqiqesqoIFNDrHLGssS3IWZ3R24rCn7zB26pxJctayxv0mcUvn7ara5ympqn14W+cWJq0wsMJwOLzVtu0VvIoBftq27RfD4fCK71BV7cNH+D4K+5Oct0KsoqoO4T2dr3EE7yQpT6CqgsN4G9/T+W2S9z1gYBXD4fB827Zf4ScYYDdebNv2H8Ph8KZ1qKoJfIzX0aDwZpL3rSLGqKqX8CE26yzhE5zAYpIlY1RVg504gJfR6NzCa0lOeYh4hKp6FgvY63438Cku4hpu62zCNuzALmxxvzOYTPKlMWKNqmoPjuIF6/MZjiU5aw3iMVXVc9iP3XgeA6u7hws4h5NJLnsM8QSq6hlsx1Zs1LmD67ia5K51+gYxVYMqddr1JAAAAABJRU5ErkJggg==");
		}

		&.warn {
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAADuklEQVR4Ac3BT2iUdxoA4Of9RlhWEHMLLCuI4EkPBuzRph6yOYRAbaCF5lAo9I+Qi62HonT5Pha91NZLwJvLsnhoaepBPIiHEDxUaEFbIiyVDYK0EKEQK20p6Lw78AtMIjHOjG3c5wnPIDO3Yy92YYfiAe7idkT8YkChT5m5D9MYwwhaNvYIN3AVFyLilj6EHmXmOE7ikMFcw6mIuKIH4SkyczdmMWG9ZczjJpZwX7ETe3AAhzFsvcuYiYg7NhE2kZlHcB5DijbmcA4LEdG2icysMIqjmEKlWMGbEXHRE4QnyMxj+BihWMBMRCwaQGbuxyxGFYn3I+KsDbRsIDOP4RMEHuIDvBMR9wyoaZp7dV3/Cz/jMFoYr+v6p6ZprntMeExmHsEcAr/itYi45HeUmZP4FH9GYioiLlojrJGZu3EDQ3iIVyLikqfIzMAb+Cs+j4j/eIrMnMQX2IYVjETEHasq681iSHEiIi7pzSj+iX/gvB5ExCWcUAxh1hqVVZk5jgnFAs7o3ZCuIb07gwXFRGaOW1XpOqloYyYi0h8sIhIzaCtOWlXpyMx9OKSYi4hFWyQiFjGnOJSZ+3RUimld52y9c7qmdVSKMcUyFmy9BSwrxnRUmbkdI4r5iGjbYhHRxrxiJDO3V9iLluKm5+emooW9FXbpWvL8LOnaVWGHrvuen/u6dlT+T1V4oGun52enrgcV7uraYzBtXW2D2aPrboXbeKQ4YDBf4hv8iH8bzAHFI9wOHZn5FQ5iGX+JiLYtlJkVfsAwvo6IF7YpruIghjGKeX3ITB1/x0F8GBHf6M9LGFZc1VEpLug6qn8vosEkZvXvXV0XdFQ6IuIWrimmMnO//nyP3xRL+pCZ+zGluBYRt3RUuk4pKsxmZuhRRPwXB/E63tajzAzMolKcsmqbVRFxJTMvYwKjOI6P9CgiFrGoP8cxqrgcEVesqqw3gxXF6cyc9AfJzEmcVqxgxhotazRNs1LX9Xd4FS28XNf1t03TfOd3lJmT+BR/QmI6Iq5bI2wgM4/hE8VDnMCZiEjPIDMDx3Ea2xTvRcRZj2nZQNM01+u6/gl/QwtjeKmu66+bprlnAJm5H5/hLVRIvB8RZ20gbCIzj+A8hhRtzOEcFiKibROZWWEURzGFSrGCNyPioicIT5GZuzGLCestYx43sYT7ip3YgwM4jGHrXcZMRNyxidCjzBzHSRwymGs4FRFX9CD0KTP3YRpjGEHLxh7hBq7iQkTc0ofwDDJzO/ZiF3YoHuAubkfELwb0P0EXR37tdmp9AAAAAElFTkSuQmCC");
		}

		&.loading {
			background:
				url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADiElEQVR4AbXBTYueVxkA4Os+55lxQhP6kba0IlgQIdZCTUVwZQWhduHSf6DpThDXLs4DLvwPFrvTRUFCcSEidCdEVOxGS7XQiphoakxD1Zl5znnuDryBiTGaD99cV7hDmbmHZ/E0nsKTOIkJ+7iMP+IN/CIi/ukOhNvIzMfwZXweJ1BRMaFiQkXFhIoFr+OHEfEn/0P4LzJzBy/iS9hFRUXFhIoJEyomVEyoqEi8iu9FxIFbqG4hM0/jJXwGgUCgIFBQUFBQUVBRUVCxg7P4YmvtwjzP19ykuklmPolzeNRGIFAQKCgoKKgoqKiYUFFQUfEYXmytXZjn+T03qG6QmY/gaziJsBEIBAoKCgoqKgoqKioKKiomBE7hhdbaz+Z5ft914brMnPB1PIGKgoqKCRUTLuINvIOrCJzGGTyPM5gwYUJFRUXBH/DViNh3ZHLsC3gUq410LHAR5yPiLf/pXfwaP8jM5/AtnEFFRUVFwafwTXzXkepIZj6MryAcC8d+hVci4rLbmOf5Ymvtx3gCn0ZFRUVFxdnW2mvzPF8tNj5nY2BgoGPgl3g1Iro7FBGHaHgNFRUVFRV7+IYjkZm7OIePIFAQqHgPr0REdw8ycxfn8TQqCgoC+3im4OMoGBjoGOj4aUR09ygiDvEdTJgwoWLCKbxQ8FEMdHR0dPw5It71f4qIn+NNTJiwg4qK5wsexsBAR8eCt2zPT7CDCRUTJjw74QEMG2EjcMn2/AYTAoGw8YkJBd1GOPYP2/MX7CBshI1HJqxuLW3PZUwI/+6g4F/o6OhYsGDPlkTEJZzH3/E+ruEavl9wDQMdHR0LHrJdL+FHuILLeBnfnnAFDyKRSCQex+9sSUT8Decycw8jIhZHIjM/hs/aWJFIrLgQEVfcRwWXcIiOgY6Ojk9mZnEf1Xme19baCZzEwIqBjgk7rbUr8zy7H4qNt7FgoGNgoOM0nsrMcB9UR+Z5XlprFaeQGFgxMLCLU621g3meF1sUrsvMgrM4gYEVAx2JBR0f4AMcoGONiHSPwg0ycw/PoGJgxcBAR0fHggULFhziMCLcreIGEbGP32IfKwYGBlasWJFIpI1AdQ+qm8zzvLTWruIBFKxYMbBiYGDFihWJbK2t8zy7G8UtRMQBfo+/YmBFIpFIpC0It5GZu3gIJ7BiYKBjoKNjiYjhLoU7lJkFe9hBsbGi4xBLRLhbHwLCkEUcD+KcuAAAAABJRU5ErkJggg==")
				no-repeat;
			background-size: cover;
		}
	}
}

.nut-loading {
	.nut-toast-inner {
		padding: 25px;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nut-toast-icon-wrapper {
		position: static;
		height: 30px;
	}

	.nut-toast-text:not(:empty) {
		margin-top: 10px;
		margin-bottom: -10px;
	}

	.nut-toast-icon {
		width: 40px;
		height: 40px;

		&.nut-toast-icon-rotate {
			animation: rotation 2s linear infinite;
		}
	}
}

.toastfade-enter-active {
	transition: opacity 0.1s;
}

.toastfade-leave-active {
	transition: opacity 0.3s;
}

.toastfade-enter,
.toastfade-leave-active {
	opacity: 0;
}
