
.nut-row-flex{
	display: flex;
	&:after{
		display:none;
	}
	.nut-col{
		float: none;
	}
}
.nut-col{
	float: left;
	box-sizing: border-box;
	word-break: break-all;
}

@for $i from 1 through 24 {
    .nut-col-offset-#{$i} {
        margin-left: 100/24*$i*1%;
    }

	.nut-col-#{$i}{
		width: 100/24*$i*1%;
	}
}