.nut-elevator{
    overflow: scroll;
    background:#FFF; 
}
.nut-elevator-ul{
    width: 100%;
    padding:0px;
    margin:0px; 
}
.nut-list-title{
    list-style-type:none;
    width:100%;
    margin-bottom:20px;
}
.nut-list-h{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background: #eee;
    margin: 0px;
}
.nut-people-list{
    padding: 0px;
    padding-left: 20px;
}
.nut-list-name{
    list-style-type:none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.nut-elevator-nav{
    background: #fff;
    text-align: center;
    border:1px solid #ccc;
    width: 50px;
    position:fixed;
    top:50%;
    right: 0px;
    transform:translate(0, -50%);
    padding: 0px;
    z-index: 100;
    .nut-nav-list{
        list-style-type:none;
        height: 40px;
        line-height: 40px;
    }
}
.nut-big-box{
    width: 26px;
    height: 26px;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    line-height: 26px;
    color:#fff;
    font-family: bold;
}