.nut-elevator{
    position: fixed;
    top:40px;
    width: 100%;
}
.nut-main{
    overflow: scroll;
    background:#FFF; 
    &::-webkit-scrollbar{
        display:none; 
    }
}
.nut-elevator-ul{
    width: 100%;
    padding:0px;
    margin:0px; 
}
.nut-list-title{
    list-style-type:none;
    width:100%;
    //margin-bottom:20px;
}
.nut-list-h{
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background: #f6f6f6;
    margin: 0px;
    font-size: 14px;
    color: #323233;
}
.nut-people-list{
    padding: 0px;
    padding-left: 20px;
}
.nut-list-name{
    font-size: 14px;
    color: #323233;
    list-style-type:none;
    height: 44px;
    line-height: 44px;
    position: relative;
    &:after{
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 16px;
        border-bottom: 1px solid #ebedf0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    &:last-child{
        &:after{
            border-bottom: 0px;
        }
    }
}
.nut-elevator-nav{
    //background: #fff;
    text-align: center;
    //border:1px solid #ccc;
    width: 50px;
    font-size: 12px;
    position:fixed;
    top:50%;
    right: 0px;
    transform:translate(0, -50%);
    padding: 0px;
    z-index: 100;
    .nut-nav-list{
        list-style-type:none;
        height: 40px;
        line-height: 40px;
    }
    .nut-nav-curr{
        color:rgb(7, 193, 96);
    }
}
.nut-big-box{
    width: 26px;
    height: 26px;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    line-height: 26px;
    color:#fff;
    font-family: bold;
}