.nut-button {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;
}
