.nut-theme-dark {
  .nut-actionsheet-panel {
    .nut-actionsheet-cancel {
      border-top: 1px solid $dark-background2;
    }
    .nut-actionsheet-title {
      border-bottom: 1px solid $dark-background2;
    }
    .nut-actionsheet-cancel,
    .nut-actionsheet-item,
    .nut-actionsheet-title {
      background: $dark-background;
      color: $dark-color;
    }
  }
}

.nut-actionsheet-panel {
  display: block;
  .nut-actionsheet-title {
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: $white;
    border-bottom: 1px solid $actionsheet-light-color;
    font-size: $font-size-base;
    color: $title-color;
  }

  .nut-actionsheet-modal {
    .nut-actionsheet-title,
    .nut-actionsheet-sub-title {
      padding: 5px 0;
    }

    .nut-actionsheet-sub-title {
      display: block;
      font-size: $font-size-small;
      color: $title-color;
      margin-inline-start: 0px;
    }
  }

  .nut-actionsheet-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nut-actionsheet-cancel,
  .nut-actionsheet-item {
    display: block;
    //   height: 24px;
    padding: 10px;
    line-height: $actionsheet-item-line-height;
    font-size: $actionsheet-item-font-size;
    color: $actionsheet-item-font-color;
    text-align: center;
    background-color: #fff;
    border-bottom: $actionsheet-item-border-bottom;
    cursor: pointer;
  }

  .desc {
    font-size: $actionsheet-item-font-size;
    color: #999;
    cursor: default;
  }

  .subdesc {
    display: block;
    font-size: $actionsheet-item-subdesc-font-size;
    color: #999;
  }

  .nut-actionsheet-item-disabled {
    color: #e1e1e1 !important;
    cursor: not-allowed;
  }
  .nut-actionsheet-item-loading {
    cursor: default;
  }

  .nut-actionsheet-cancel {
    margin-top: 5px;
    border-top: $actionsheet-item-cancel-border-top;
  }
}
