.box-item {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
}
.demo .nut-row {
  overflow: hidden;
  &:not(:last-child) .nut-col {
    margin-bottom: 15px;
  }
}
.flex-content {
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  background: #ff8881;
  &.flex-content-light {
    background: #ffc7c4;
  }
  &.flex-content-height {
    height: 50px;
  }
}
.demo {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
