.nut-swipe {
  position: relative;
  display: block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  &__left,
  &__right {
    position: absolute;
    top: 0;
    height: 100%;
  }
  &__left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  &__right {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
  &__content {
    display: inherit;
  }
}
