.nut-imagepreview {
  &-swiper {
    height: 100%;
    width: 100vw;
    background-color: transparent;
  }
  &-img {
    width:100%;
    height:100%;
    object-fit: contain;
  }

  &-index {
    position: fixed;
    top: 50px;
    text-align: center;
    left: 0;
    right: 0;
    background: transparent;
    color: #fff;

    .arrow {
      position: absolute;
      left: 15px;
      transform: rotateZ(180deg);
    }
  }
}


