.nut-theme-dark {
  .nut-uploader__preview-list {
    background: $dark-background2;
    color: $dark-color;
  }
  .close {
    color: $dark-color !important;
  }
}
.nut-uploader {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__slot {
    position: relative;
  }

  &__upload {
    position: relative;
    background: $uploader-background;
    width: $uploader-picture-width;
    height: $uploader-picture-height;
    display: flex;
    align-items: center;
    justify-content: center;

    &.list {
    }
  }

  &__input {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    cursor: pointer !important;
    opacity: 0;
    &:disabled {
      cursor: not-allowed;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);

    &__progress {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__msg {
        color: $white;
        font-size: 12px;
        margin-top: 6px;
      }
    }
    &.list {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    &-list {
      width: 100%;
      height: 32px;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-right: 20px;
      .nut-uploader__preview-img__file__name {
        -webkit-line-clamp: 1;
        padding: 2px;
        height: 24px;
      }

      .nut-uploader__preview-img__file__del {
        position: absolute;
        right: 4px;
        top: 6px;
      }
      .nut-progress {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .nut-progress-outer {
          height: 2px !important;
        }
      }
    }
    &-img {
      position: relative;
      width: $uploader-picture-width;
      height: $uploader-picture-height;
      .close {
        position: absolute;
        right: 0;
        top: 0;
        color: rgba(0, 0, 0, 0.6);
        transform: translate(50%, -50%);
      }
      .tips {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: $white;
        height: 0px;
        transition: height 0.3s;
        background: rgba(0, 0, 0, 0.54);
        @include oneline-ellipsis();
      }
      &__c {
        height: 100%;
        width: 100%;
      }
      &__file {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &__name {
          display: flex;
          width: 100%;
          font-size: 12px;
          color: $text-color;
          &.error {
            color: red !important;
          }
          &.success {
            color: #1890ff !important;
          }
          .nut-icon-link {
            &::before {
              margin-left: -25%;
              margin-top: -25%;
              transform: none;
            }
          }
          @include moreline-ellipsis();
        }
      }
    }
  }
}
