.nut-backtop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 111;
  &.show {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.show :active {
    background: rgba(0, 0, 0, 0.1);
  }
  &-main {
    transition: all 0.2s ease-in-out;
  }
}
