.nut-radiogroup {
  display: inline-block;
  .nut-radio {
    margin-bottom: 5px;
  }
  &--vertical {
  }
  &--horizontal {
    .nut-radio {
      display: inline-flex;
      margin-right: 10px;
      &--round {
        .nut-radio__label {
          margin: 0 6px;
        }
      }
      &--button {
        // ...
      }
    }
  }
}
