.nut-theme-dark {
  .nut-checkbox {
    &__label {
      color: $dark-color;
      &--disabled {
        color: $checkbox-label-disable-color;
      }
    }
  }
}
.nut-checkbox {
  display: flex;
  align-items: center;
  &--reverse {
    flex-direction: row-reverse;
    .nut-checkbox__label {
      margin-right: $checkbox-label-margin-left;
      margin-left: 0;
    }
  }
  &__label {
    flex: 1;
    margin-left: $checkbox-label-margin-left;
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    &--disabled {
      color: $checkbox-label-disable-color;
    }
  }
  &__icon {
    color: $primary-color;
    font-size: $checkbox-icon-font-size;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
  }
  &__icon--unchecked {
    color: $checkbox-icon-disable-color;
    font-size: $checkbox-icon-font-size;
  }
  &__icon--indeterminate {
    color: $primary-color;
    font-size: $checkbox-icon-font-size;
  }
  &__icon--disable {
    color: $checkbox-icon-disable-color2;
    font-size: $checkbox-icon-font-size;
  }
}
