.nut-theme-dark {
  .nut-timedetail {
    background-color: $dark-background2;
    &__detail {
      &__list {
        &__item {
          background-color: $dark-background;
          color: $dark-color;
          &--curr {
            color: $timeselect-timedetail-item-cur-text-color;
          }
        }
      }
    }
  }
}
.nut-timedetail {
  display: flex;
  width: 100%;
  padding: $timeselect-timedetail-padding;
  &__detail {
    width: 100%;
    &__list {
      &__item {
        display: inline-block;
        width: $timeselect-timedetail-item-width;
        height: $timeselect-timedetail-item-height;
        line-height: $timeselect-timedetail-item-line-height;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: $timeselect-timedetail-item-bg-color;
        border-radius: $timeselect-timedetail-item-border-radius;
        color: $timeselect-timedetail-item-text-color;
        font-size: $timeselect-timedetail-item-text-font-size;
        border: 1px solid transparent;
        font-weight: bold;
        &--curr {
          background-color: $timeselect-timedetail-item-cur-bg-color;
          border: 1px solid $timeselect-timedetail-item-cur-border;
          color: $timeselect-timedetail-item-cur-text-color;
        }
      }
    }
    &__time {
      margin-bottom: 10px;
      color: $timeselect-timedetail-time-text-color;
      font-size: $timeselect-timedetail-time-font-size;
    }
  }
  &__detail--afternoon {
    margin-top: 30px;
  }
}
