.nut-switch {
  display: flex;
  align-items: center;
  width: 72px;
  height: 42px;
  background-color: rgb(250, 63, 25, 1);
  border-radius: 25px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 0 auto; // 防止被压缩
  .switch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 1);
    transition: transform 0.3s;
    transform: translateX(30%);
  }
}
.switch-open {
  .switch-button {
    transform: translateX(146%);
  }
}
.switch-close {
  background-color: rgba(235, 235, 235, 1);
  .close-line {
    width: 16px;
    height: 4px;
    background: rgba(240, 240, 240, 1);
    border-radius: 4px;
  }
}
