.nut-theme-dark {
  .nut-numberkeyboard {
    background-color: $dark-background4;
    .number-board-body .key-board-wrapper .key {
      background-color: $dark-background5;
      color: $dark-color;
    }
  }
}

.nut-numberkeyboard {
  width: $numberkeyboard-width;
  padding: $numberkeyboard-padding;
  background-color: $numberkeyboard-background-color;
  user-select: none;

  .number-board-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    height: $numberkeyboard-header-height;
    padding: $numberkeyboard-header-padding;
    color: $numberkeyboard-header-color;
    font-size: $numberkeyboard-header-font-size;

    .tit {
      display: inline-block;
    }

    .keyboard-close {
      position: absolute;
      display: block;
      right: 0;
      padding: $numberkeyboard-header-close-padding;
      color: $numberkeyboard-header-close-color;
      font-size: $numberkeyboard-header-close-font-size;
      background-color: $numberkeyboard-header-close-background-color;
      border: none;
      cursor: pointer;
    }
  }

  .number-board-body {
    display: flex;
    padding: 6px 0 0 6px;

    .number-board {
      display: flex;
      flex: 3;
      flex-wrap: wrap;
    }

    .key-board-wrapper {
      position: relative;
      flex: 1;
      flex-basis: 33%;
      box-sizing: border-box;
      padding: 0 6px 6px 0;

      .key {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $numberkeyboard-key-height;
        font-size: $numberkeyboard-key-font-size;
        line-height: $numberkeyboard-key-line-height;
        background-color: $numberkeyboard-key-background-color;
        color: $numberkeyboard-key-font-size-color;
        border-radius: $numberkeyboard-key-border-radius;
        cursor: pointer;
      }

      .active {
        background-color: $numberkeyboard-key-active-background-color;
      }

      img {
        width: 30px;
        height: 24px;
      }
    }

    .key-board-wrapper-large {
      flex-basis: 66%;
    }

    .number-board-sidebar {
      display: flex;
      flex: 1;
      flex-direction: column;

      .key-board-wrapper {
        .key {
          position: absolute;
          top: 0;
          right: 6px;
          bottom: 6px;
          left: 0;
          height: auto;
        }

        .finish {
          font-size: $numberkeyboard-key-finish-font-size;
          color: $numberkeyboard-key-finish-font-size-color;
          background-color: $numberkeyboard-key-finish-background-color;
        }

        .activeFinsh {
          background-color: $numberkeyboard-key-activeFinsh-background-color;
        }
      }
    }
  }
}
.nut-numberkeyboard-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}
