.nut-progress {
  width: 100%;
  position: relative;
  display: flex;
  .nut-progress-outer {
    flex: 1;
    background-color: $progress-outer-background-color;
    border-radius: $progress-outer-border-radius;
    height: 10px;
    .nut-progress-inner {
      width: 30%;
      height: 100%;
      border-radius: $progress-outer-border-radius;
      background: $progress-inner-background-color;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      // position: relative;
      .nut-progress-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
      }
    }
    .nut-active {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $progress-outer-border-radius;
        animation: progressActive 2s ease-in-out infinite;
      }
    }
    @keyframes progressActive {
      0% {
        background: rgba(255, 255, 255, 0.1);
        width: 0;
      }
      20% {
        background: rgba(255, 255, 255, 0.5);
        width: 0;
      }
      to {
        background: rgba(255, 255, 255, 0);
        width: 100%;
      }
    }
    &.nut-progress-small {
      height: $progress-small-height;
      .nut-progress-text {
        font-size: $progress-small-text-font-size;
        line-height: $progress-small-text-line-height;
        padding: $progress-small-text-padding;
        // top: $progress-small-text-top;
        top: 50%;
      }
    }
    &.nut-progress-base {
      height: $progress-base-height;
      .nut-progress-text {
        font-size: $progress-base-text-font-size;
        line-height: $progress-base-text-line-height;
        padding: $progress-base-text-padding;
        top: 50%;
      }
    }
    &.nut-progress-large {
      height: $progress-large-height;
      .nut-progress-text {
        font-size: $progress-large-text-font-size;
        line-height: $progress-large-text-line-height;
        padding: $progress-large-text-padding;
        top: 50%;
      }
    }
  }
  .nut-progress-outer-part {
    width: 90%;
  }
  .nut-progress-text {
    padding: 0 5px;
    font-size: 13px;
    line-height: 1;
    min-width: 35px;
  }
  .nut-progress-insidetext {
    padding: $progress-insidetext-padding;
    background: $progress-insidetext-background;
    border-radius: $progress-insidetext-border-radius;
    position: absolute;
    transition: all 0.4s;
    top: 50%;
    min-width: 0px;
  }
  .nut-icon-success,
  .nut-icon-fail {
    width: 10px;
    height: 10px;
    display: inline-block;
  }
}
