.nut-field {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    .nut-require {
        color: #ee0a24;
        margin-right: 5px;
        margin-top: 10px;
    }
    .nut-field-label {
        display: inline-block;
        margin-right: 24px;
        max-width: 120px;
        overflow: hidden;
        font-size: 16px;
        color: rgba(100, 100, 100, 1);
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 40px;
    }
    input {
        min-width: 100px;
        flex: 1;
        height: 40px;
        appearance: none;
        font-size: 16px;
        box-sizing: border-box;
        border-radius: 4px;
        border: none;
        background-color: '#FFFFFF';
        padding: 0 8px 0 10px;
        &::-webkit-input-placeholder {
            color: #c1c4cb;
            font-style: normal;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
    .nut-text-core {
        flex: 1;
        padding: 4px 0px 5px 0;
        appearance: none;
        font-size: 14px;
        box-sizing: border-box;
        border-radius: 4px;
        border: none;
        background-color: '#FFFFFF';
        .nut-field-over {
            color: rgba(225, 37, 27, 1);
        }
        &::-webkit-input-placeholder {
            color: #c1c4cb;
            font-style: normal;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
        textarea {
            width: 100%;
            border: none;
            outline: none;
            margin: 5px 0 0 0;
            padding: 0;
            background: transparent;
            display: block;
            font-size: 16px;
            font-family: PingFangSC-Regular;
            font-size: 16px;
            resize: none;
            color: rgba(50, 50, 50, 1);
            &::-webkit-input-placeholder {
                color: #c1c4cb;
                font-style: normal;
            }
            &::-webkit-search-cancel-button {
                display: none;
            }
        }
        .nut-text-limit {
            float: right;
            margin-right: 0px;
            color: #969696;
        }
    }
    .nut-textinput-clear {
        opacity: 0.5;
        position: relative;
        top: 20px;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        svg {
            vertical-align: top;
            fill: #999;
        }
    }
    .nut-field-error {
        width: 90%;
        height: 5px;
        position: absolute;
        bottom: 0px;
        border-bottom: 1px solid red;
        box-sizing: border-box;
    }
    .input-error {
        color: red;
    }
}

.nut-filed-disabled {
    input {
        color: rgba(200, 200, 200, 1);
        background-color: #ffffff;
        &::-webkit-input-placeholder {
            color: hsl(225, 10%, 84%);
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
}

input:focus,
select:focus {
    outline: none;
}