.nut-theme-dark {
  .nut-range-container {
    background: $dark-background;
    .min,
    .max {
      color: $dark-color-gray;
    }
    .nut-range {
      &-mark-text {
        color: $dark-color-gray;
      }
      &-button {
        .number {
          color: $dark-color;
        }
      }
    }
  }
}
.nut-range-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 4px;
  align-items: center;
  .min,
  .max {
    font-size: $font-size-1;
    color: $range-tip-font-color;
    user-select: none;
  }
  &-vertical {
    height: 100%;
    flex-direction: column;
    padding: 0px 15px;
    .nut-range {
      width: 4px;
      height: 100%;
      &-button {
        &-wrapper,
        &-wrapper-right {
          position: absolute;
          top: initial;
          bottom: 0px;
          left: 50%;
          right: initial;
          transform: translate3d(-50%, 50%, 0);
        }

        &-wrapper-left {
          top: 0px;
          left: 50%;
          right: initial;
          transform: translate3d(-50%, -50%, 0);
        }
      }
      .number {
        transform: translate3d(100%, 0, 0);
      }
      &-vertical {
        margin: 10px 0px;
      }
      &-mark {
        position: absolute;
        width: 100%;
        right: 50%;
        overflow: visible;
        font-size: 12px;
        height: 100%;
        top: initial;
        width: 36px;
        padding: 0px;
      }

      &-mark-text {
        width: 20px;
        position: absolute;
        display: inline-block;
        line-height: 16px;
        color: #999;
        text-align: center;
        word-break: keep-all;
        user-select: none;
        transform: translateY(-50%);
        &-active {
          .nut-range-tick {
            background: $range-bar-bg-color;
          }
        }
      }
      &-tick {
        position: absolute;
        top: 0px;
        left: 30px;
        width: 11px;
        height: 11px;
        margin-left: -0px;
        border-radius: 50%;
        background-color: $range-bg-color-tick;
      }
    }
  }
}
.nut-range {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: $range-bg-color;
  border-radius: 2px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: -8px;
    right: 0;
    bottom: -8px;
    left: 0;
    content: '';
  }

  &-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: $range-bar-bg-color;
    border-radius: inherit;
    transition: all 0.2s;
  }

  &-button {
    display: block;
    width: $range-bar-btn-width;
    height: $range-bar-btn-height;
    background-color: $range-bar-btn-bg-color;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border: $range-bar-btn-border;
    outline: none;

    &-wrapper,
    &-wrapper-right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate3d(50%, -50%, 0);
      cursor: grab;
      outline: none;
    }

    &-wrapper-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(-50%, -50%, 0);
      cursor: grab;
      outline: none;
    }

    .number {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-size: $font-size-1;
      color: $range-tip-font-color;
      transform: translate3d(0, -100%, 0);
    }
  }
  &-disabled {
    cursor: not-allowed;
    opacity: 0.54;

    .nut-range-button-wrapper,
    .nut-range-button-wrapper-left,
    .nut-range-button-wrapper-right {
      cursor: not-allowed;
    }
  }

  &-show-number {
    margin: 0 15px;
  }

  &-mark {
    position: absolute;
    width: 100%;
    overflow: visible;
    top: 50%;
    font-size: 12px;
    padding-top: 14px;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    line-height: 16px;
    color: #999;
    text-align: center;
    word-break: keep-all;
    user-select: none;
    transform: translateX(-50%);
    &-active {
      .nut-range-tick {
        background: $range-bar-bg-color;
      }
    }
  }
  &-tick {
    position: absolute;
    top: -20px;
    width: 11px;
    height: 11px;
    // margin-left: -11px;
    left: 0px;
    border-radius: 50%;
    background-color: $range-bg-color-tick;
  }
}
