.nut-range-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 3px;
  align-items: center;
  .min,
  .max {
    font-size: $font-size-1;
    color: $range-max;
    user-select: none;
  }
}
.nut-range {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: $rang-bg-color;
  border-radius: 2px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: -8px;
    right: 0;
    bottom: -8px;
    left: 0;
    content: '';
  }

  &-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: $rang-bar-bg-color;
    border-radius: inherit;
    transition: all 0.2s;
  }

  &-button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid $primary-color;
    outline: none;

    &-wrapper,
    &-wrapper-right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate3d(50%, -50%, 0);
      cursor: grab;
      outline: none;
    }

    &-wrapper-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(-50%, -50%, 0);
      cursor: grab;
      outline: none;
    }

    .number {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-size: $font-size-1;
      color: $range-max;
      transform: translate3d(0, -100%, 0);
    }
  }
  &-disabled {
    cursor: not-allowed;
    opacity: 0.54;

    .nut-range-button-wrapper,
    .nut-range-button-wrapper-left,
    .nut-range-button-wrapper-right {
      cursor: not-allowed;
    }
  }
  &-show-number {
    margin: 0 15px;
  }
}
