.nut-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $dialog-width;
  min-height: 156px;
  padding: 28px 24px 16px 24px;
  box-sizing: border-box;

  &__header {
    display: block;
    text-align: center;
    height: 20px;
    font-size: 16px;
    color: $dialog-header-color;
    font-weight: $dialog-header-font-weight;
    @include oneline-ellipsis();
  }
  &__content {
    width: 100%;
    overflow: auto;
    flex: 1;
    margin: 20px 0;
    max-height: 268px;
    line-height: 16px;
    font-size: 12px;
    color: $text-color;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
  &__footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: $dialog-footer-justify-content;

    &.vertical {
      flex-direction: column;

      .nut-button {
        min-width: 100%;
        margin: 0;
        &.nut-dialog__footer-cancel {
          border: 0;
        }
        &.nut-dialog__footer-ok {
          margin-top: 10px;
        }
      }
    }

    .nut-button {
      min-width: 100px;
      overflow: hidden;
    }

    &-cancel {
      margin-right: 20px;
    }
    &-ok {
      max-width: 128px;
    }
  }
}
