.nut-theme-dark {
  .nut-form-item {
    &__body {
      &__slots {
        .nut-input-text {
          color: $dark-color;
        }
      }
    }
  }
}
.nut-form-item {
  display: flex;
  &::before {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 16px;
    bottom: 0;
    left: 16px;
    transform: scaleX(0);
  }
  &.error {
    &.line {
      &::before {
        border-bottom: 1px solid $form-item-error-line-color;
        transform: scaleX(1);
        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      }
    }
  }

  &__label {
    font-size: $form-item-label-font-size;
    font-weight: normal;
    width: $form-item-label-width;
    margin-right: $form-item-label-margin-right;
    flex: none !important;
    display: inline-block !important;
    word-wrap: break-word;
    text-align: $form-item-label-text-align;
    &.required {
      &::before {
        content: '*';
        color: $form-item-required-color;
        margin-right: $form-item-required-margin-right;
      }
    }
  }
  &__body {
    flex: 1;
    display: flex !important;
    flex-direction: column;
    &__slots {
      text-align: $form-item-body-slots-text-align;
      .nut-input-text {
        font-size: $form-item-body-font-size;
        text-align: $form-item-body-input-text-align;
        color: $black;
        width: 100%;
        outline: 0 none;
        border: 0;
        text-decoration: none;
        background: transparent;
        padding: 0;
        margin: 0;
      }
      .nut-range-container {
        min-height: 24px;
      }
      .nut-textarea {
        padding: 0 !important;
        .nut-textarea__textarea {
          text-align: $form-item-body-input-text-align;
        }
      }
    }
    &__tips {
      text-align: $form-item-tip-text-align;
      font-size: $form-item-tip-font-size;
      color: $form-item-error-message-color;
    }
  }
}
