.nut-list {
  width: 100%;
  overflow: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  &-phantom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &-container {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
  &-item {
    overflow: hidden;
    margin: $list-item-margin;
  }
}
