.nut-checkboxgroup{
	padding: 10px 0;
	.checkbox-item{
		height:30px;
	    display: flex;
	    align-items: center;
	    margin-right: 20px;
	    padding: 3px 0;
	    .nut-checkbox,label{
	    	display:inline-block;
	        margin:0;
	        vertical-align: middle;
	    }
	    label{
	        padding-left:5px;
	    }

	}
	&.vertical{
    	display: flex;
	    align-items: center;
    }
}