.doc-cont {
    margin: 0 0 0 60px;
    position: relative;
    h1 {
        font-size: 30px;
        font-weight: 700;
        margin: 10px 0 20px;
        color: #333333;
    }
    p {
        font-size: 14px;
        line-height: 1.8;
        margin: 10px 0;
    }
    h1+p,
    h1+p+p,
    h1+p+p {
        color: #333333;
    }
    h2 {
        margin: 30px 0 15px;
        font-size: 22px;
        font-weight: 400;
        color: #333333;
    }
    h2+p,
    h2+p+p {
        color: #3F4449;
    }
    h3 {
        margin: 20px 0 10px;
        font-size: 18px;
        font-weight: 400;
        color: #333333;
    }
    h3+p,
    h3+p+p {
        color: #3F4449;
    }
    h4 {
        font-size: 14px;
        font-weight: normal;
        margin: 15px 0;
        color: #666666;
    }
    h4+p,
    h4+p+p,
    h4+p+p+p {
        color: #666666;
    }
    h4+p::nth-child(n) {
        color: #666666;
    }
    blockquote {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        p {
            margin: 0;
            display: inline-block;
            background: rgba(83, 150, 255, 0.14);
            font-size: 14px;
            color: #333333;
            border-radius: 4px;
            text-decoration-style: none;
            border-left: 8px solid #5396FF;
            padding: 15px 54px 15px 22px;
            line-height: 1.5;
            overflow: hidden;
            font-style: normal;
        }
    }
    ul {
        border-radius: 3px;
        padding: 5px 20px 5px 0;
        list-style: none;
        p {
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            font-size: 14px;
            color: #455A64;
            padding: 7px;
            line-height: 20px;
            display: flex;
            align-items: center;
        }
        li:before {
            content: '';
            width: 6px;
            height: 6px;
            border: 1px solid #455A64;
            border-radius: 14px;
            margin-right: 12px;
            display: inline-block;
        }
    }
    ol {
        background: #F2F4F5;
        border-radius: 3px;
        padding: 13px 40px;
        li {
            line-height: 20px;
            padding: 7px 0 0 10px;
            font-size: 14px;
            color: #3F4449;
        }
    }
    ul,
    ol,
    p,
    table {
        em {
            color: #8cade9;
            font-style: normal;
            padding: 0 2px;
        }
        strong {
            display: inline-block;
            background: #F7F7F7;
            border: 1px solid #ECECEC;
            border-radius: 2px;
            font-size: 13px;
            line-height: 1;
            color: #3F536E;
            padding: 3px 5px;
            margin: 0 5px;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        th {
            background: #F7F7F7;
            border: 1px solid #E9E9E9;
            font-size: 14px;
            line-height: 1.5;
            color: #333333;
            height: 40px;
            padding: 0 20px 0 14px;
        }
        td {
            border: 1px solid #E9E9E9;
            font-size: 14px;
            line-height: 1.5;
            color: #3F4449;
            height: 50px;
            padding-left: 14px;
        }
    }
    hr {
        height: 1px;
        border-width: 0;
        background-color: #e7f0ff;
    }
    img[alt="full"] {
        width: 100%;
    }
    img[alt="flex"] {
        flex-shrink: 0;
        width: 50%;
        padding: 0 15px;
        flex-basis: auto;
        flex: 1;
    }
    p {
        font-size: 14px;
        white-space: unset;
        word-break: break-all;
    }
    a {
        color: #5396ff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// 书签样式
.markList {
    a {
        color: #666;
    }
    .cur {
        a {
            color: #5396ff;
        }
    }
}