.nut-price {
  font-size: $font-size-3;
  display: inline;
  color: $primary-color;
  .price-symbol {
    font-size: $font-size-4;
  }
  .price-big {
    font-size: $price-big-size;
  }
  .price-small {
    font-size: $font-size-4;
  }
}
