.nut-price {
  font-size: $font-size-3;
  display: inline;
  color: $primary-color;
  &__symbol {
    display: inline-block;
    font-size: $font-size-3;
    margin-right: 4px;
  }
  &__big {
    display: inline-block;
    font-size: $price-big-size;
  }
  &__point {
    display: inline-block;
    font-size: $price-big-size;
  }
  &__small {
    display: inline-block;
    font-size: $font-size-4;
  }
}
