.nut-price {
    font-size: 12px;
    display: inline;
    .price-symbol {
        font-size: 12px;
    }
    .price-big {
        font-size: 16px;
    }
    .price-small {
        font-size: 12px;
    }
}