.nut-rate {
  display: flex;
  &-item {
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    &:last-child {
      margin-right: 0;
    }

    &__icon {
      color: $rate-icon-color;
      cursor: pointer;
      &--disabled {
        color: $rate-icon-void-color;
      }
      &--half {
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        overflow: hidden;
      }
    }
  }
}
