.nut-rate {
	.nut-rate-item {
		display: inline-block;
		position: relative;
		vertical-align: bottom;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		color: #f0f0f0;
		background-size: cover;

		svg {
			vertical-align: top;
			width: 100%;
			height: 100%;
			fill: currentColor;
		}

		.halfstar_contain {
			width: 50%;
			height: 100%;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			color: #f0f0f0;

			svg.halfstar {
				height: 100%;
				width: 200%;
			}

			&.nut-rate-half-active {
				color: $primary-color;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&.nut-rate-active {
			color: $primary-color;
		}
	}
	.fontcolor{
		font-size: 13px;
	}
}
