.nut-imagepreview {
  height: 100%;
  width: 100%;
  &-swiper {
    height: 100%;
    width: 100vw;
    background-color: transparent;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-taro-img {
    width: 100%;
    height: 100%;
  }

  &-index {
    position: fixed;
    z-index: 2002;
    top: 50px;
    text-align: center;
    left: 0;
    right: 0;
    background: transparent;
    color: #fff;

    .arrow {
      position: absolute;
      left: 15px;
      transform: rotateZ(180deg);
    }
  }

  &-close-icon {
    position: fixed;
    z-index: 2002;
    top: 50px;
    right: 15px;

    &-right {
      right: 10px;
    }
    &-left {
      left: 10px;
    }
  }

  .popup-bg {
    background: rgba(0, 0, 0, 0.9);
  }

  .popup-box {
    height: 100%;
    overflow: visible;
    background-color: transparent;
  }
}
.nut-imagepreview-custom-pop {
  height: 100%;
  background: transparent !important;
  display: flex;
  align-items: center;
  width: 100%;
}
.nut-imagepreview-swiper .nut-swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .nut-imagepreview-box {
    width: 100%;
  }

  .nut-video {
    // height: auto;
    video {
      object-fit: contain;
    }
  }
}
