.nut-imagepreview {
  &-swiper {
    height: 327px;
    width: 100vw;
    background-color: transparent;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-index {
    position: fixed;
    z-index: 2002;
    top: 50px;
    text-align: center;
    left: 0;
    right: 0;
    background: transparent;
    color: #fff;

    .arrow {
      position: absolute;
      left: 15px;
      transform: rotateZ(180deg);
    }
  }

  .popup-bg {
    background: rgba(0, 0, 0, 0.9);
  }

  .popup-box {
    height: 100%;
    overflow: visible;
    background-color: transparent;
  }
}
.custom-pop {
  height: 100%;
  background: transparent !important;
  display: flex;
  align-items: center;
}
.nut-imagepreview-swiper .nut-swiper-item {
  height: 327px;
}
