.nut-theme-dark {
  .nut-timeselect {
    background-color: $dark-background2;
    &__title {
      background-color: $dark-background2;
      color: $dark-color;
    }
    &__content {
      &__pannel {
        background-color: $dark-background3;
        color: $dark-color;
      }
      &__detail {
        background-color: $dark-background2;
      }
    }
  }
}
.nut-timeselect {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &__title {
    display: flex;
    width: $timeselect-title-width;
    height: $timeselect-title-height;
    line-height: $timeselect-title-line-height;
    padding-bottom: 10px;
    font-size: $timeselect-title-font-size;
    color: $timeselect-title-color;
    text-align: center;
    &__fixed {
      width: 100%;
      height: 50px;
    }
  }
  &__content {
    width: 100%;
    height: calc(100% - $timeselect-title-height - 10px);
    display: flex;
    &__pannel {
      width: 140px;
      height: 100%;
      overflow: auto;
      background-color: $timeselect-pannel-bg-color;
    }
    &__detail {
      width: calc(100% - 140px);
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
