.nut-theme-dark {
  .nut-radio {
    &__label {
      color: $dark-color;
      &--disabled {
        color: $radio-label-disable-color;
      }
    }
    &__button {
      background: $dark-background;
      color: $dark-color;
      &--disabled {
        color: $radio-label-disable-color;
        border: 1px solid $radio-label-disable-color;
      }
    }
  }
}
.nut-radio {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  &--reverse {
    .nut-radio__label {
      margin-right: $radio-label-margin-left;
      margin-left: 0;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: $radio-button-padding;
    font-size: $radio-button-font-size;
    background: #f6f7f9;
    border-radius: $radio-button-border-radius;
    color: $radio-label-font-color;
    box-sizing: border-box;
    border: 1px solid #f6f7f9;
    &--active {
      background: $radio-label-button-background;
      color: $radio-label-font-active-color;
      border: 1px solid $radio-label-button-border-color;
    }
    &--disabled {
      color: $radio-label-disable-color;
      border: none;
    }
  }

  &__label {
    flex: 1;
    margin-left: $radio-label-margin-left;
    font-size: $radio-label-font-size;
    color: $radio-label-font-color;
    &--disabled {
      color: $radio-label-disable-color;
    }
  }

  &__icon {
    color: $radio-label-font-active-color;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
    font-size: $radio-icon-font-size;
  }
  &__icon--unchecked {
    color: $radio-icon-disable-color;
  }
  &__icon--disable {
    color: $radio-icon-disable-color2;
  }
}
