@mixin nut-card-border {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  transform: scaleY(0.5);
  content: ' ';
  display: block;
}
.nut-card-container {
  .card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .right {
      flex: 1;
      font-size: $font-size-body-normal;
      font-weight: 600;
    }
    .left {
      color: $text-black-4;
    }
  }
  background: #fff;
  border-radius: 4px;
  margin: 15px;
  .nut-card-header {
    padding: 12px;
    color: $text-black-1;
    font-size: $font-size-body-small;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    .nut-card-title {
      flex: 1;
      font-size: $font-size-body-normal;
      font-weight: 600;
      text-align: justify;
    }
    .nut-card-supply-title {
      color: $text-black-4;
      margin-left: 12px;
    }
    .nut-card-icon {
      margin-left: 12px;
    }
  }
  .switch-icon-class {
    display: flex;
    justify-content: space-between;
  }
  .mut-card-content {
    padding: 12px;
    color: $text-black-2;
    font-size: $font-size-body-small;
    position: relative;
    &:before {
      @include nut-card-border;
    }
  }
  .mut-card-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-height: 52px;
    padding: 0 12px;
    position: relative;

    &::before {
      @include nut-card-border;
    }
    button {
      margin: 0 5px;
    }
  }
}
.full-content {
  margin: 0px;
}
