.nut-circleprogress {
  position: relative;

  &-hover {
    stroke: $circle-progress-primary-color;
    transition: stroke-dasharray 0.6s ease 0s, stroke 0.6s ease 0s;
  }

  &-path {
    stroke: $circle-progress-path-color;
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: $circle-progress-text-color;
    font-size: $circle-progress-text-size;
  }
}
