name: Create Release Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  release-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Create Release Tag
        id: release_tag
        uses: yyx990803/release-tag@master
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_ACTION }}
        with:
          tag_name: ${{ github.ref }}
          body: |
            更新内容请查看 [CHANGELOG](https://github.com/jdf2e/nutui/blob/v4/CHANGELOG.md)。

            Please refer to [CHANGELOG](https://github.com/jdf2e/nutui/blob/v4/CHANGELOG.md) for details.