.nut-theme-dark {
  .nut-menu-item__content {
    .nut-menu-item__option {
      color: $dark-color;
    }
  }
}

.nut-menu-item {
  .active {
    font-weight: $menu-active-item-font-weight;
    color: $menu-item-active-text-color !important;
  }
}

.nut-menu-item__content {
  padding: $menu-item-content-padding;
  max-height: $menu-item-content-max-height;
  display: flex;
  flex-wrap: wrap;
  &.nut-menu-item__overflow {
    overflow-y: auto;
  }

  .nut-menu-item__option {
    color: $title-color;
    font-size: $font-size-2;
    padding-top: $menu-item-option-padding-top;
    padding-bottom: $menu-item-option-padding-bottom;
    display: flex;
    align-items: center;

    i {
      margin-right: $menu-item-option-i-margin-right;
    }
  }
}

.nut-menu__pop {
  transition: all 0 ease 0;
  transform: none;
}

.placeholder-element {
  position: fixed;
  top: -$menu-bar-line-height;
  left: 0;
  right: 0;
  z-index: $menu-bar-opened-z-index;
  background-color: transparent;

  &.up {
    bottom: -$menu-bar-line-height;
  }
}
